Geo/Schemas/Coding.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2007 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:c="urn:multimedia-schemas-xml-frafv:coding" xmlns:xml="http://www.w3.org/XML/1998/namespace" targetNamespace="urn:multimedia-schemas-xml-frafv:coding" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/xml.xsd"/>
	<xs:simpleType name="DurationHour">
		<xs:restriction base="xs:string">
			<xs:pattern value="[1-9]\d*:[0-5]\d:[0-5]\d"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DurationHourSec">
		<xs:restriction base="xs:string">
			<xs:pattern value="[1-9]\d*:[0-5]\d:[0-5]\d(\.\d+)?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DurationMinute">
		<xs:restriction base="xs:string">
			<xs:pattern value="[1-5]?\d:[0-5]\d"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DurationMinuteOnly">
		<xs:restriction base="xs:string">
			<xs:pattern value="[1-9]\d*:[0-5]\d"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DurationMinuteSec">
		<xs:restriction base="xs:string">
			<xs:pattern value="[1-5]?\d:[0-5]\d(\.\d+)?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:attributeGroup name="StreamAttr">
		<xs:annotation>
			<xs:documentation xml:lang="en">Stream attributes</xs:documentation>
			<xs:documentation xml:lang="ru">Атрибуты потока</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Duration" type="c:DurationHour"/>
	</xs:attributeGroup>
	<xs:element name="Content">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Duration" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute name="Value" use="required">
							<xs:simpleType>
								<xs:union memberTypes="xs:float c:DurationMinuteOnly c:DurationHour"/>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="Unit" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Hour"/>
									<xs:enumeration value="Minute"/>
									<xs:enumeration value="Second"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="Container" minOccurs="0">
					<xs:complexType>
						<xs:choice minOccurs="0" maxOccurs="unbounded">
							<xs:element name="VideoStream">
								<xs:complexType>
									<xs:attribute name="Duration" use="required">
										<xs:simpleType>
											<xs:union memberTypes="xs:float c:DurationMinuteSec c:DurationHourSec"/>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="Bitrate" type="xs:unsignedInt"/>
									<xs:attribute name="Codec">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="MPEG2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="FrameCount" type="xs:unsignedInt"/>
									<xs:attribute name="FPS" type="xs:float"/>
									<xs:attribute name="FrameQuality" type="xs:float"/>
									<xs:attribute name="Width" type="xs:unsignedInt" use="required"/>
									<xs:attribute name="Height" type="xs:unsignedInt" use="required"/>
									<xs:attribute name="DAR">
										<xs:simpleType>
											<xs:union memberTypes="xs:float">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:pattern value="[1-9]\d*:[1-9]\d*"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:union>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="AudioStream">
								<xs:complexType>
									<xs:attribute name="Duration" use="required">
										<xs:simpleType>
											<xs:union memberTypes="xs:float c:DurationMinuteSec c:DurationHourSec"/>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="Delay" type="xs:float"/>
									<xs:attribute name="Bitrate" type="xs:unsignedInt"/>
									<xs:attribute name="Codec">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="AC3"/>
												<xs:enumeration value="ALAC"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="ChannelCount" type="xs:unsignedInt"/>
									<xs:attribute name="SampleRate">
										<xs:simpleType>
											<xs:union memberTypes="xs:unsignedInt">
												<xs:simpleType>
													<xs:restriction base="xs:unsignedInt">
														<xs:enumeration value="8000"/>
														<xs:enumeration value="11025"/>
														<xs:enumeration value="22050"/>
														<xs:enumeration value="44100"/>
														<xs:enumeration value="48000"/>
														<xs:enumeration value="96000"/>
														<xs:enumeration value="192000"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:union>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute ref="xml:lang"/>
								</xs:complexType>
							</xs:element>
						</xs:choice>
						<xs:attribute name="Type" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="MPEG-PS"/>
									<xs:enumeration value="M4A"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="Type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="VOB"/>
						<xs:enumeration value="MP4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Duration" use="required">
				<xs:simpleType>
					<xs:union memberTypes="c:DurationMinute c:DurationHour"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
