Geo/Schemas/Culture.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2007 sp1 (http://www.altova.com)-->
<xs:schema xmlns="urn:geo-schemas-xml-frafv:culture" xmlns:c="urn:geo-schemas-xml-frafv:culture" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xml="http://www.w3.org/XML/1998/namespace" targetNamespace="urn:geo-schemas-xml-frafv:culture" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/xml.xsd"/>
	<xs:attributeGroup name="Period">
		<xs:attribute name="StartPeriod">
			<xs:annotation>
				<xs:documentation xml:lang="ru">Начало периода.</xs:documentation>
				<xs:documentation xml:lang="en">Start Period.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:union memberTypes="xs:date xs:gYearMonth xs:gYear"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="EndPeriod">
			<xs:annotation>
				<xs:documentation xml:lang="ru">Конец периода.</xs:documentation>
				<xs:documentation xml:lang="en">End Period.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:union memberTypes="xs:date xs:gYearMonth">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="Unknown">
								<xs:annotation>
									<xs:documentation xml:lang="ru">Конец периода точно не определён.</xs:documentation>
								</xs:annotation>
							</xs:enumeration>
						</xs:restriction>
					</xs:simpleType>
				</xs:union>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:element name="Label">
		<xs:annotation>
			<xs:documentation xml:lang="ru">Название на разных языках.</xs:documentation>
			<xs:documentation xml:lang="en">Name on languages.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="Type">
						<xs:annotation>
							<xs:documentation xml:lang="ru">Тип названия.</xs:documentation>
							<xs:documentation xml:lang="en">Label type.</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Org">
									<xs:annotation>
										<xs:documentation xml:lang="ru">Оригинальное название.</xs:documentation>
										<xs:documentation xml:lang="en">Original label.</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="Abbr">
									<xs:annotation>
										<xs:documentation xml:lang="ru">Аббревиатура или сокращение.</xs:documentation>
										<xs:documentation xml:lang="en">Abbreviation.</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute ref="xml:lang" use="required">
						<xs:annotation>
							<xs:documentation xml:lang="ru">Язык названия.</xs:documentation>
							<xs:documentation xml:lang="en">Label language.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Web">
		<xs:annotation>
			<xs:documentation xml:lang="ru">Сайт с дополнительной информацией.</xs:documentation>
			<xs:documentation xml:lang="en">Web resource.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="URL" type="xs:anyURI" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Code">
		<xs:annotation>
			<xs:documentation xml:lang="ru">Код.</xs:documentation>
			<xs:documentation xml:lang="en">Code.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="Source" type="xs:IDREF" use="required">
						<xs:annotation>
							<xs:documentation xml:lang="ru">Организация стандарта либо кода.</xs:documentation>
							<xs:documentation xml:lang="en">Code standart organization.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="Encoding" default="Text">
						<xs:annotation>
							<xs:documentation xml:lang="ru">Кодировка представления кода.</xs:documentation>
							<xs:documentation xml:lang="en">Code encoding.</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Text">
									<xs:annotation>
										<xs:documentation xml:lang="ru">Текст.</xs:documentation>
										<xs:documentation xml:lang="en">Text.</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="Hex">
									<xs:annotation>
										<xs:documentation xml:lang="ru">Число в шестнадцатиричном виде.</xs:documentation>
										<xs:documentation xml:lang="en">Hexadecimal number.</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="Number">
									<xs:annotation>
										<xs:documentation xml:lang="ru">Число.</xs:documentation>
										<xs:documentation xml:lang="en">Number.</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Language">
		<xs:annotation>
			<xs:documentation xml:lang="ru">Язык.</xs:documentation>
			<xs:documentation xml:lang="en">Language.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="c:Label" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation xml:lang="ru">Название языка.</xs:documentation>
						<xs:documentation xml:lang="en">Language label.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="c:Web" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation xml:lang="ru">Сайт о языке.</xs:documentation>
						<xs:documentation xml:lang="en">Language Web resource.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="c:Code" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation xml:lang="ru">Кодовые обозначения языка.</xs:documentation>
						<xs:documentation xml:lang="en">Language code values.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="c:Language" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation xml:lang="ru">Регионально зависимые языки.</xs:documentation>
						<xs:documentation xml:lang="en">Culture specific languages.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="Name" type="xs:ID" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="ru">Идентификатор языка в IETF.</xs:documentation>
					<xs:documentation xml:lang="en">Language IETF identifier.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attributeGroup ref="c:Period"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="LanguageList">
		<xs:annotation>
			<xs:documentation xml:lang="ru">Список языков.</xs:documentation>
			<xs:documentation xml:lang="en">Languages list.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="c:Language" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CultureList">
		<xs:annotation>
			<xs:documentation xml:lang="ru">Региональная информация.</xs:documentation>
			<xs:documentation xml:lang="en">Culture information.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="c:LanguageList"/>
				<xs:any namespace="##other" processContents="strict" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation xml:lang="ru">Дополнительная информация и внешние списки.</xs:documentation>
						<xs:documentation xml:lang="en">Additional information and external lists.</xs:documentation>
					</xs:annotation>
				</xs:any>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
