Geo/Schemas/Image.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2007 sp1 (http://www.altova.com)-->
<xs:schema xmlns="urn:multimedia-schemas-xml-frafv:image" xmlns:i="urn:multimedia-schemas-xml-frafv:image" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:multimedia-schemas-xml-frafv:image" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/xml.xsd"/>
	<xs:element name="Image">
		<xs:annotation>
			<xs:documentation xml:lang="en">Image</xs:documentation>
			<xs:documentation xml:lang="ru">Изображение</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Size" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation xml:lang="en">Image size</xs:documentation>
						<xs:documentation xml:lang="ru">Размер изображения</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="Width" type="xs:decimal" use="required">
							<xs:annotation>
								<xs:documentation xml:lang="en">Image width</xs:documentation>
								<xs:documentation xml:lang="ru">Ширина изображения</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="Height" type="xs:decimal" use="required">
							<xs:annotation>
								<xs:documentation xml:lang="en">Image height</xs:documentation>
								<xs:documentation xml:lang="ru">Высота изображения</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="Unit" use="required">
							<xs:annotation>
								<xs:documentation xml:lang="en">Image size unit</xs:documentation>
								<xs:documentation xml:lang="ru">Единица измерения размера изображения</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Pix"/>
									<xs:enumeration value="Inch"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="PixMap" minOccurs="0">
					<xs:complexType>
						<xs:attribute name="Area" type="xs:decimal">
							<xs:annotation>
								<xs:documentation xml:lang="en">Image area in mega pixels</xs:documentation>
								<xs:documentation xml:lang="ru">Площадь изображения в мегапикселях</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="BPP">
							<xs:annotation>
								<xs:documentation xml:lang="en">Bits per pixel</xs:documentation>
								<xs:documentation xml:lang="ru">Бит на точку</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:int">
									<xs:enumeration value="8"/>
									<xs:enumeration value="16"/>
									<xs:enumeration value="24"/>
									<xs:enumeration value="32"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="DPI" type="xs:unsignedInt">
							<xs:annotation>
								<xs:documentation xml:lang="en">Dots per inch</xs:documentation>
								<xs:documentation xml:lang="ru">Точек на дюйм</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="Content" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="en">Image content</xs:documentation>
						<xs:documentation xml:lang="ru">Содержание изображения</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="Mode">
							<xs:annotation>
								<xs:documentation xml:lang="en">Image kind</xs:documentation>
								<xs:documentation xml:lang="ru">Вид избражения</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Draw"/>
									<xs:enumeration value="Photo"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="Participant" type="xs:IDREFS">
							<xs:annotation>
								<xs:documentation xml:lang="en">Image participant</xs:documentation>
								<xs:documentation xml:lang="ru">Участники избражения</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="Type" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="en">Image type</xs:documentation>
					<xs:documentation xml:lang="ru">Тип изображения</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="JPEG"/>
						<xs:enumeration value="GIF"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Width" type="xs:unsignedInt" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="en">Image width in pixels</xs:documentation>
					<xs:documentation xml:lang="ru">Ширина изображения в точках</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Height" type="xs:unsignedInt" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="en">Image height in pixels</xs:documentation>
					<xs:documentation xml:lang="ru">Высота изображения в точках</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Colority" default="Color">
				<xs:annotation>
					<xs:documentation xml:lang="en">Colority</xs:documentation>
					<xs:documentation xml:lang="ru">Цветность</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Color"/>
						<xs:enumeration value="BW"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
