Geo/Schemas/Location.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2007 sp1 (http://www.altova.com)-->
<xs:schema xmlns="urn:geo-schemas-xml-frafv:location" xmlns:l="urn:geo-schemas-xml-frafv:location" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xml="http://www.w3.org/XML/1998/namespace" targetNamespace="urn:geo-schemas-xml-frafv:location" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/xml.xsd"/>
	<xs:attributeGroup name="Period">
		<xs:attribute name="StartPeriod">
			<xs:annotation>
				<xs:documentation xml:lang="ru">Начало периода</xs:documentation>
				<xs:documentation xml:lang="en">Start Period</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:union memberTypes="xs:date xs:gYearMonth xs:gYear"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="EndPeriod">
			<xs:annotation>
				<xs:documentation xml:lang="ru">Конец периода</xs:documentation>
				<xs:documentation xml:lang="en">End Period</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:union memberTypes="xs:date xs:gYearMonth">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="Unknown">
								<xs:annotation>
									<xs:documentation xml:lang="ru">Конец периода точно неопределён</xs:documentation>
								</xs:annotation>
							</xs:enumeration>
						</xs:restriction>
					</xs:simpleType>
				</xs:union>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:element name="Label">
		<xs:annotation>
			<xs:documentation xml:lang="ru">Название местности на разных языках.</xs:documentation>
			<xs:documentation xml:lang="en">Location name on languages.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute ref="xml:lang" use="required">
						<xs:annotation>
							<xs:documentation xml:lang="ru">Язык названия.</xs:documentation>
							<xs:documentation xml:lang="en">Label language.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="Type">
						<xs:annotation>
							<xs:documentation xml:lang="ru">Тип названия</xs:documentation>
							<xs:documentation xml:lang="en">Label type</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Org">
									<xs:annotation>
										<xs:documentation xml:lang="en">Original label.</xs:documentation>
										<xs:documentation xml:lang="ru">Оригинальное название.</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="Abbr">
									<xs:annotation>
										<xs:documentation xml:lang="en">Abbreviation.</xs:documentation>
										<xs:documentation xml:lang="ru">Аббревиатура.</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Web">
		<xs:annotation>
			<xs:documentation xml:lang="ru">Сайт о местоположении.</xs:documentation>
			<xs:documentation xml:lang="en">Location Web resource.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="URL" type="xs:anyURI" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Code">
		<xs:annotation>
			<xs:documentation xml:lang="ru">Код местоположения.</xs:documentation>
			<xs:documentation xml:lang="en">Location code.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="Source" type="xs:IDREF" use="required">
						<xs:annotation>
							<xs:documentation xml:lang="ru">Организация стандарта либо кода.</xs:documentation>
							<xs:documentation xml:lang="en">Code standart organization.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="ReferenceType">
		<xs:annotation>
			<xs:documentation xml:lang="ru">Состав либо вхождение в состав определяющие форму.</xs:documentation>
			<xs:documentation xml:lang="en">Form as membership or union.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Type" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="ru">Тип состава.</xs:documentation>
				<xs:documentation xml:lang="en">Union type.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Union">
						<xs:annotation>
							<xs:documentation xml:lang="ru">Союз.</xs:documentation>
							<xs:documentation xml:lang="en">Union.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Join">
						<xs:annotation>
							<xs:documentation xml:lang="ru">Присоединение.</xs:documentation>
							<xs:documentation xml:lang="en">Join.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Split">
						<xs:annotation>
							<xs:documentation xml:lang="ru">Разделение.</xs:documentation>
							<xs:documentation xml:lang="en">Split.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Secession">
						<xs:annotation>
							<xs:documentation xml:lang="ru">Отделение.</xs:documentation>
							<xs:documentation xml:lang="en">Secession from.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attributeGroup ref="l:Period"/>
	</xs:complexType>
	<xs:complexType name="FormType">
		<xs:annotation>
			<xs:documentation xml:lang="ru">Форма административно-территориального деления.</xs:documentation>
			<xs:documentation xml:lang="en">Administrative division form.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Type" type="xs:IDREF">
			<xs:annotation>
				<xs:documentation xml:lang="ru">Вид формы.</xs:documentation>
				<xs:documentation xml:lang="en">Form kind.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="ContinentList">
		<xs:annotation>
			<xs:documentation xml:lang="ru">Список континентов.</xs:documentation>
			<xs:documentation xml:lang="en">Continents list.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Continent" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation xml:lang="ru">Континент.</xs:documentation>
						<xs:documentation xml:lang="en">Continent.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="l:Label" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="ru">Название континента.</xs:documentation>
									<xs:documentation xml:lang="en">Continent name.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element ref="l:Web" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="ru">Сайт о континенте.</xs:documentation>
									<xs:documentation xml:lang="en">Continent Web resource.</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="Name" type="xs:ID" use="required">
							<xs:annotation>
								<xs:documentation xml:lang="ru">Идентификатор континента.</xs:documentation>
								<xs:documentation xml:lang="en">Continent identifier.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="LocationTypeList">
		<xs:annotation>
			<xs:documentation xml:lang="ru">Список видов местоположений.</xs:documentation>
			<xs:documentation xml:lang="en">Location kinds list.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="LocationType" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation xml:lang="ru">Вид местоположения (административно-территориальное деление).</xs:documentation>
						<xs:documentation xml:lang="en">Location kind (administrative division).</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="l:Label" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="ru">Название вида местоположения.</xs:documentation>
									<xs:documentation xml:lang="en">Location kind name.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element ref="l:Web" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="ru">Сайт поясняющий вид.</xs:documentation>
									<xs:documentation xml:lang="en">Kind Web resource.</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="Name" type="xs:ID" use="required">
							<xs:annotation>
								<xs:documentation xml:lang="ru">Идентификатор вида.</xs:documentation>
								<xs:documentation xml:lang="en">Kind identifier.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CountryList">
		<xs:annotation>
			<xs:documentation xml:lang="ru">Список стран.</xs:documentation>
			<xs:documentation xml:lang="en">Countries list.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Location" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation xml:lang="ru">Местоположение страны.</xs:documentation>
						<xs:documentation xml:lang="en">Country location.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="Continent" type="xs:IDREF" use="required">
							<xs:annotation>
								<xs:documentation xml:lang="ru">Континент страны.</xs:documentation>
								<xs:documentation xml:lang="en">Country continent.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="Country" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation xml:lang="ru">Страна.</xs:documentation>
						<xs:documentation xml:lang="en">Country.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="l:Label" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="ru">Название страны.</xs:documentation>
									<xs:documentation xml:lang="en">Country name.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element ref="l:Web" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="ru">Сайт о стране.</xs:documentation>
									<xs:documentation xml:lang="en">Country Web resource.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Form" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="ru">Форма страны в рамках административно-территориального деления.</xs:documentation>
									<xs:documentation xml:lang="en">Country form in administrative division.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="l:FormType">
											<xs:sequence>
												<xs:element name="Reference" minOccurs="0" maxOccurs="unbounded">
													<xs:annotation>
														<xs:documentation xml:lang="ru">Состав либо вхождение в состав государств либо стран.</xs:documentation>
														<xs:documentation xml:lang="en">State or country membership or union.</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:complexContent>
															<xs:extension base="l:ReferenceType">
																<xs:attribute name="Country" type="xs:IDREFS">
																	<xs:annotation>
																		<xs:documentation xml:lang="ru">Страны.</xs:documentation>
																		<xs:documentation xml:lang="en">Countries.</xs:documentation>
																	</xs:annotation>
																</xs:attribute>
															</xs:extension>
														</xs:complexContent>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:extension>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
							<xs:element ref="l:Code" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="ru">Код страны.</xs:documentation>
									<xs:documentation xml:lang="en">Country code.</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="Name" type="xs:ID" use="required">
							<xs:annotation>
								<xs:documentation xml:lang="ru">Идентификатор страны.</xs:documentation>
								<xs:documentation xml:lang="en">Country identifier.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attributeGroup ref="l:Period"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RegionList">
		<xs:annotation>
			<xs:documentation xml:lang="ru">Список районов.</xs:documentation>
			<xs:documentation xml:lang="en">Regions list.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Location" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation xml:lang="ru">Местоположение района.</xs:documentation>
						<xs:documentation xml:lang="en">Region location.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="Country" type="xs:IDREF" use="required">
							<xs:annotation>
								<xs:documentation xml:lang="ru">Страна района.</xs:documentation>
								<xs:documentation xml:lang="en">Region country.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="Region" type="xs:IDREF">
							<xs:annotation>
								<xs:documentation xml:lang="ru">Регион.</xs:documentation>
								<xs:documentation xml:lang="en">Region.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="Region" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation xml:lang="ru">Административный район.</xs:documentation>
						<xs:documentation xml:lang="en">Administrative region.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="l:Label" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="ru">Название района.</xs:documentation>
									<xs:documentation xml:lang="en">Region name.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element ref="l:Web" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="ru">Сайт о районе.</xs:documentation>
									<xs:documentation xml:lang="en">Region Web resource.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Form" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="ru">Форма региона в рамках административно-территориального деления.</xs:documentation>
									<xs:documentation xml:lang="en">Region form in administrative division.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="l:FormType">
											<xs:sequence>
												<xs:element name="Reference" minOccurs="0" maxOccurs="unbounded">
													<xs:annotation>
														<xs:documentation xml:lang="ru">Состав либо вхождение в состав регионов.</xs:documentation>
														<xs:documentation xml:lang="en">Regions membership or union.</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:complexContent>
															<xs:extension base="l:ReferenceType">
																<xs:attribute name="Country" type="xs:IDREF">
																	<xs:annotation>
																		<xs:documentation xml:lang="ru">Страна.</xs:documentation>
																		<xs:documentation xml:lang="en">Country.</xs:documentation>
																	</xs:annotation>
																</xs:attribute>
																<xs:attribute name="Region" type="xs:IDREFS">
																	<xs:annotation>
																		<xs:documentation xml:lang="ru">Регионы.</xs:documentation>
																		<xs:documentation xml:lang="en">Regions.</xs:documentation>
																	</xs:annotation>
																</xs:attribute>
															</xs:extension>
														</xs:complexContent>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:extension>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
							<xs:element ref="l:Code" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="ru">Код района.</xs:documentation>
									<xs:documentation xml:lang="en">Region code.</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="Name" type="xs:ID" use="required">
							<xs:annotation>
								<xs:documentation xml:lang="ru">Идентификатор района.</xs:documentation>
								<xs:documentation xml:lang="en">Region identifier.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attributeGroup ref="l:Period"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CityList">
		<xs:annotation>
			<xs:documentation xml:lang="ru">Список населённых пунктов.</xs:documentation>
			<xs:documentation xml:lang="en">Cities list.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Location" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation xml:lang="ru">Местоположение населённых пунктов.</xs:documentation>
						<xs:documentation xml:lang="en">City location.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="Country" type="xs:IDREF" use="required">
							<xs:annotation>
								<xs:documentation xml:lang="ru">Страна населённого пункта.</xs:documentation>
								<xs:documentation xml:lang="en">City country.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="Region" type="xs:IDREF">
							<xs:annotation>
								<xs:documentation xml:lang="ru">Регион.</xs:documentation>
								<xs:documentation xml:lang="en">Region.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="City" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation xml:lang="ru">Населённый пункт.</xs:documentation>
						<xs:documentation xml:lang="en">City.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="l:Label" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="ru">Название населённого пункта.</xs:documentation>
									<xs:documentation xml:lang="en">City name.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element ref="l:Web" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="ru">Сайт о населённом пункте.</xs:documentation>
									<xs:documentation xml:lang="en">City Web resource.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Form" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="ru">Форма населённого пункта в рамках административно-территориального деления.</xs:documentation>
									<xs:documentation xml:lang="en">City form in administrative division.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="l:FormType">
											<xs:sequence>
												<xs:element name="Reference" minOccurs="0" maxOccurs="unbounded">
													<xs:annotation>
														<xs:documentation xml:lang="ru">Состав либо вхождение в состав населённых пунктов.</xs:documentation>
														<xs:documentation xml:lang="en">Cities membership or union.</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:complexContent>
															<xs:extension base="l:ReferenceType">
																<xs:attribute name="Country" type="xs:IDREF">
																	<xs:annotation>
																		<xs:documentation xml:lang="ru">Страна.</xs:documentation>
																		<xs:documentation xml:lang="en">Country.</xs:documentation>
																	</xs:annotation>
																</xs:attribute>
																<xs:attribute name="Region" type="xs:IDREF">
																	<xs:annotation>
																		<xs:documentation xml:lang="ru">Регион.</xs:documentation>
																		<xs:documentation xml:lang="en">Region.</xs:documentation>
																	</xs:annotation>
																</xs:attribute>
																<xs:attribute name="City" type="xs:IDREFS">
																	<xs:annotation>
																		<xs:documentation xml:lang="ru">Населённые пункты.</xs:documentation>
																		<xs:documentation xml:lang="en">Cities.</xs:documentation>
																	</xs:annotation>
																</xs:attribute>
															</xs:extension>
														</xs:complexContent>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:extension>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
							<xs:element ref="l:Code" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="ru">Код населённого пункта.</xs:documentation>
									<xs:documentation xml:lang="en">City code.</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="Name" type="xs:ID" use="required">
							<xs:annotation>
								<xs:documentation xml:lang="ru">Идентификатор населённого пункта.</xs:documentation>
								<xs:documentation xml:lang="en">City identifier.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attributeGroup ref="l:Period"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="LocationList">
		<xs:annotation>
			<xs:documentation xml:lang="ru">Административно-территориальная информация по местоположениям.</xs:documentation>
			<xs:documentation xml:lang="en">Locations administrative information.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="l:ContinentList" minOccurs="0"/>
				<xs:element ref="l:LocationTypeList" minOccurs="0"/>
				<xs:choice minOccurs="0" maxOccurs="unbounded">
					<xs:element ref="l:CountryList"/>
					<xs:element ref="l:RegionList"/>
					<xs:element ref="l:CityList"/>
				</xs:choice>
				<xs:any namespace="##other" processContents="strict" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation xml:lang="ru">Дополнительная информация и внешние списки.</xs:documentation>
						<xs:documentation xml:lang="en">Additional information and external lists.</xs:documentation>
					</xs:annotation>
				</xs:any>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
