Geo/Schemas/Movie.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2007 sp1 (http://www.altova.com)-->
<xs:schema xmlns="urn:multimedia-schemas-xml-frafv:movie" xmlns:m="urn:multimedia-schemas-xml-frafv:movie" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:multimedia-schemas-xml-frafv:movie" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/xml.xsd"/>
	<xs:element name="Web">
		<xs:annotation>
			<xs:documentation xml:lang="en">Movie Web resource</xs:documentation>
			<xs:documentation xml:lang="ru">Сайт о фильме</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="URL" type="xs:anyURI" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Label">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute ref="xml:lang" use="required">
						<xs:annotation>
							<xs:documentation xml:lang="en">Label language</xs:documentation>
							<xs:documentation xml:lang="ru">Язык названия</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="Type">
						<xs:annotation>
							<xs:documentation xml:lang="en">Label type</xs:documentation>
							<xs:documentation xml:lang="ru">Тип названия</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Org">
									<xs:annotation>
										<xs:documentation xml:lang="en">Original label</xs:documentation>
										<xs:documentation xml:lang="ru">Оригинальное название</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Prefix" type="xs:string">
						<xs:annotation>
							<xs:documentation xml:lang="en">Label prefix</xs:documentation>
							<xs:documentation xml:lang="ru">Префикс у названия</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Description">
		<xs:annotation>
			<xs:documentation xml:lang="en">Description</xs:documentation>
			<xs:documentation xml:lang="ru">Описание</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute ref="xml:lang" use="required">
						<xs:annotation>
							<xs:documentation xml:lang="en">Description language</xs:documentation>
							<xs:documentation xml:lang="ru">Язык описания</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="Type" use="required">
						<xs:annotation>
							<xs:documentation xml:lang="en">Description type</xs:documentation>
							<xs:documentation xml:lang="ru">Тип описания</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Keywords">
									<xs:annotation>
										<xs:documentation xml:lang="en">Plot Keywords</xs:documentation>
										<xs:documentation xml:lang="ru">Ключевые моменты</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="Outline">
									<xs:annotation>
										<xs:documentation xml:lang="en">Plot Outline</xs:documentation>
										<xs:documentation xml:lang="ru">Сюжет</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="Tagline">
									<xs:annotation>
										<xs:documentation xml:lang="en">Tagline</xs:documentation>
										<xs:documentation xml:lang="ru">Слоган</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Source" type="xs:anyURI">
						<xs:annotation>
							<xs:documentation xml:lang="en">Description source</xs:documentation>
							<xs:documentation xml:lang="ru">Источник описания</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Movie">
		<xs:annotation>
			<xs:documentation xml:lang="en">Movie</xs:documentation>
			<xs:documentation xml:lang="ru">Фильм</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="m:Web" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="Release" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation xml:lang="en">Release date by countries</xs:documentation>
						<xs:documentation xml:lang="ru">Дата выхода по странам</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="m:Label" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
						<xs:attribute name="Date" type="xs:date" use="required">
							<xs:annotation>
								<xs:documentation xml:lang="en">Release date</xs:documentation>
								<xs:documentation xml:lang="ru">Дата выхода</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="Country" type="xs:IDREF" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element ref="m:Label" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation xml:lang="en">Movie label in countries, Also Known As (AKA)</xs:documentation>
						<xs:documentation xml:lang="ru">Название фильма в разных странах (AKA)</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Sequence" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="en">Sequence</xs:documentation>
						<xs:documentation xml:lang="ru">Цикл</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="m:Web" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element ref="m:Label" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="en">Movie label in countries, Also Known As (AKA)</xs:documentation>
									<xs:documentation xml:lang="ru">Название фильма в разных странах (AKA)</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element ref="m:Description" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element ref="m:Movie" maxOccurs="unbounded"/>
						</xs:sequence>
						<xs:attribute name="Name" type="xs:ID" use="required">
							<xs:annotation>
								<xs:documentation xml:lang="en">Movie identifier</xs:documentation>
								<xs:documentation xml:lang="ru">Идентификатор фильма</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="Type" default="Series">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Feature"/>
									<xs:enumeration value="Series"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="Cast" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation xml:lang="en">Cast</xs:documentation>
						<xs:documentation xml:lang="ru">Состав</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Participant" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="en">Participant</xs:documentation>
									<xs:documentation xml:lang="ru">Участник</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="m:Label" minOccurs="0" maxOccurs="unbounded"/>
									</xs:sequence>
									<xs:attribute name="Role" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="en">Participant role</xs:documentation>
											<xs:documentation xml:lang="ru">Роль участника</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Actor">
													<xs:annotation>
														<xs:documentation xml:lang="en">Actor</xs:documentation>
														<xs:documentation xml:lang="ru">Актёр</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="Camera">
													<xs:annotation>
														<xs:documentation xml:lang="en">Cameraman</xs:documentation>
														<xs:documentation xml:lang="ru">Оператор</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="CoProducer">
													<xs:annotation>
														<xs:documentation xml:lang="en">Co-Producer</xs:documentation>
														<xs:documentation xml:lang="ru">Сопродюсер</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="Composer">
													<xs:annotation>
														<xs:documentation xml:lang="en">Composer</xs:documentation>
														<xs:documentation xml:lang="ru">Композитор</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="Director">
													<xs:annotation>
														<xs:documentation xml:lang="en">Director</xs:documentation>
														<xs:documentation xml:lang="ru">Режиссёр</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="ExecProducer">
													<xs:annotation>
														<xs:documentation xml:lang="en">Executive Producer</xs:documentation>
														<xs:documentation xml:lang="ru">Исполнительный продюсер</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="Producer">
													<xs:annotation>
														<xs:documentation xml:lang="en">Producer</xs:documentation>
														<xs:documentation xml:lang="ru">Продюсер</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="BookWriter">
													<xs:annotation>
														<xs:documentation xml:lang="en">Book author</xs:documentation>
														<xs:documentation xml:lang="ru">Автор книги</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="Writer">
													<xs:annotation>
														<xs:documentation xml:lang="en">Writer</xs:documentation>
														<xs:documentation xml:lang="ru">Автор сценария</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="Name" type="xs:IDREF" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="en">Participant link</xs:documentation>
											<xs:documentation xml:lang="ru">Ссылка на участника</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="Type" use="required">
							<xs:annotation>
								<xs:documentation xml:lang="en">Cast type</xs:documentation>
								<xs:documentation xml:lang="ru">Тип состава</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Key">
										<xs:annotation>
											<xs:documentation xml:lang="en">Key cast</xs:documentation>
											<xs:documentation xml:lang="ru">Ключевой состав</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="Main">
										<xs:annotation>
											<xs:documentation xml:lang="en">First cast</xs:documentation>
											<xs:documentation xml:lang="ru">Первый состав</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="Support">
										<xs:annotation>
											<xs:documentation xml:lang="en">Credits</xs:documentation>
											<xs:documentation xml:lang="ru">Список</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="Rest">
										<xs:annotation>
											<xs:documentation xml:lang="en">Rest cast</xs:documentation>
											<xs:documentation xml:lang="ru">Остальной состав</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="Prod">
										<xs:annotation>
											<xs:documentation xml:lang="en">Production cast</xs:documentation>
											<xs:documentation xml:lang="ru">Исполнительный состав</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="Certification" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation xml:lang="en">Movie certification</xs:documentation>
						<xs:documentation xml:lang="ru">Сертификат фильма</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="Country" type="xs:IDREF" use="required">
							<xs:annotation>
								<xs:documentation xml:lang="en">Certification country</xs:documentation>
								<xs:documentation xml:lang="ru">Страна сертификата</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="Type" use="required">
							<xs:annotation>
								<xs:documentation xml:lang="en">Certification type</xs:documentation>
								<xs:documentation xml:lang="ru">Тип сертификата</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:pattern value="(\d|[A-Z])*"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element ref="m:Description" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="Award" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation xml:lang="en">Movie awards</xs:documentation>
						<xs:documentation xml:lang="ru">Награды фильма</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="m:Label" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="en">Award name</xs:documentation>
									<xs:documentation xml:lang="ru">Название награды</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Nomination" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="en">Nomination</xs:documentation>
									<xs:documentation xml:lang="ru">Номинация</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="m:Label" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation xml:lang="en">Nomination name</xs:documentation>
												<xs:documentation xml:lang="ru">Название номинации</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="Year" type="xs:gYear" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="en">Year</xs:documentation>
											<xs:documentation xml:lang="ru">Год</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="Participant" type="xs:IDREFS">
										<xs:annotation>
											<xs:documentation xml:lang="en">Nomination participant</xs:documentation>
											<xs:documentation xml:lang="ru">Участник номинации</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="Result" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="en">Award result</xs:documentation>
											<xs:documentation xml:lang="ru">Результат награды</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Won">
													<xs:annotation>
														<xs:documentation xml:lang="en">Won</xs:documentation>
														<xs:documentation xml:lang="ru">Награждён</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="Nominated">
													<xs:annotation>
														<xs:documentation xml:lang="en">Nominated</xs:documentation>
														<xs:documentation xml:lang="ru">Номинирован</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="Name" type="xs:ID" use="required">
							<xs:annotation>
								<xs:documentation xml:lang="en">Award identifier</xs:documentation>
								<xs:documentation xml:lang="ru">Идентификатор награды</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="Country" type="xs:IDREF">
							<xs:annotation>
								<xs:documentation xml:lang="en">Award country</xs:documentation>
								<xs:documentation xml:lang="ru">Страна награды</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="Location" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation xml:lang="en">Filming location</xs:documentation>
						<xs:documentation xml:lang="ru">Место съёмок фильма</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="Region" type="xs:IDREFS">
							<xs:annotation>
								<xs:documentation xml:lang="en">Region or state</xs:documentation>
								<xs:documentation xml:lang="ru">Район или штат</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="Country" type="xs:IDREF" use="required">
							<xs:annotation>
								<xs:documentation xml:lang="en">Country</xs:documentation>
								<xs:documentation xml:lang="ru">Страна</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="City" type="xs:IDREF">
							<xs:annotation>
								<xs:documentation xml:lang="en">City</xs:documentation>
								<xs:documentation xml:lang="ru">Город</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="Participant" type="xs:IDREFS">
							<xs:annotation>
								<xs:documentation xml:lang="en">Location participant</xs:documentation>
								<xs:documentation xml:lang="ru">Участники места</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute ref="xml:lang" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="en">Movie original language</xs:documentation>
					<xs:documentation xml:lang="ru">Оригинальный язык фильма</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Year" type="xs:gYear">
				<xs:annotation>
					<xs:documentation xml:lang="en">Release year</xs:documentation>
					<xs:documentation xml:lang="ru">Год выхода</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Production" type="xs:IDREFS">
				<xs:annotation>
					<xs:documentation xml:lang="en">Production Companies</xs:documentation>
					<xs:documentation xml:lang="ru">Кинокомпания</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Name" type="xs:ID" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="en">Movie identifier</xs:documentation>
					<xs:documentation xml:lang="ru">Идентификатор фильма</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Genre">
				<xs:annotation>
					<xs:documentation xml:lang="en">Genre</xs:documentation>
					<xs:documentation xml:lang="ru">Жанр</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:list>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Action">
									<xs:annotation>
										<xs:documentation xml:lang="en">Action</xs:documentation>
										<xs:documentation xml:lang="ru">Боевик</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="Adventure">
									<xs:annotation>
										<xs:documentation xml:lang="en">Adventure</xs:documentation>
										<xs:documentation xml:lang="ru">Приключения</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="Animation">
									<xs:annotation>
										<xs:documentation xml:lang="en">Animation</xs:documentation>
										<xs:documentation xml:lang="ru">Мультфильм</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="Biography">
									<xs:annotation>
										<xs:documentation xml:lang="en">Biography</xs:documentation>
										<xs:documentation xml:lang="ru">Биография</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="Comedy">
									<xs:annotation>
										<xs:documentation xml:lang="en">Comedy</xs:documentation>
										<xs:documentation xml:lang="ru">Комедия</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="Crime">
									<xs:annotation>
										<xs:documentation xml:lang="en">Crime</xs:documentation>
										<xs:documentation xml:lang="ru">Криминальный</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="Documentary">
									<xs:annotation>
										<xs:documentation xml:lang="en">Documentary</xs:documentation>
										<xs:documentation xml:lang="ru">Документальный</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="Drama">
									<xs:annotation>
										<xs:documentation xml:lang="en">Drama</xs:documentation>
										<xs:documentation xml:lang="ru">Драма</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="Family">
									<xs:annotation>
										<xs:documentation xml:lang="en">Family</xs:documentation>
										<xs:documentation xml:lang="ru">Семейный</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="Fantasy">
									<xs:annotation>
										<xs:documentation xml:lang="en">Fantasy</xs:documentation>
										<xs:documentation xml:lang="ru">Сказка</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="FilmNoir">
									<xs:annotation>
										<xs:documentation xml:lang="en">Film-Noir</xs:documentation>
										<xs:documentation xml:lang="ru">Нуар</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="GameShow">
									<xs:annotation>
										<xs:documentation xml:lang="en">Game-Show</xs:documentation>
										<xs:documentation xml:lang="ru">Игровой</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="History">
									<xs:annotation>
										<xs:documentation xml:lang="en">History</xs:documentation>
										<xs:documentation xml:lang="ru">Исторический</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="Horror">
									<xs:annotation>
										<xs:documentation xml:lang="en">Horror</xs:documentation>
										<xs:documentation xml:lang="ru">Ужасы</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="Music">
									<xs:annotation>
										<xs:documentation xml:lang="en">Music</xs:documentation>
										<xs:documentation xml:lang="ru">Музыкальный</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="Musical">
									<xs:annotation>
										<xs:documentation xml:lang="en">Musical</xs:documentation>
										<xs:documentation xml:lang="ru">Мюзикл</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="Mystery">
									<xs:annotation>
										<xs:documentation xml:lang="en">Mystery</xs:documentation>
										<xs:documentation xml:lang="ru">Детектив</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="News">
									<xs:annotation>
										<xs:documentation xml:lang="en">News</xs:documentation>
										<xs:documentation xml:lang="ru">Новости</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="RealityTV">
									<xs:annotation>
										<xs:documentation xml:lang="en">Reality-TV</xs:documentation>
										<xs:documentation xml:lang="ru">Реалити-шоу</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="Romance">
									<xs:annotation>
										<xs:documentation xml:lang="en">Romance</xs:documentation>
										<xs:documentation xml:lang="ru">Мелодрама</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="SciFi">
									<xs:annotation>
										<xs:documentation xml:lang="en">Sci-Fi</xs:documentation>
										<xs:documentation xml:lang="ru">Фантастика</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="Short">
									<xs:annotation>
										<xs:documentation xml:lang="en">Short</xs:documentation>
										<xs:documentation xml:lang="ru">Короткометражный</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="Sport">
									<xs:annotation>
										<xs:documentation xml:lang="en">Sport</xs:documentation>
										<xs:documentation xml:lang="ru">Спортивный</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="TalkShow">
									<xs:annotation>
										<xs:documentation xml:lang="en">Talk-Show</xs:documentation>
										<xs:documentation xml:lang="ru">Ток-шоу</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="Thriller">
									<xs:annotation>
										<xs:documentation xml:lang="en">Thriller</xs:documentation>
										<xs:documentation xml:lang="ru">Триллер</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="War">
									<xs:annotation>
										<xs:documentation xml:lang="en">War</xs:documentation>
										<xs:documentation xml:lang="ru">Военный</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="Western">
									<xs:annotation>
										<xs:documentation xml:lang="en">Western</xs:documentation>
										<xs:documentation xml:lang="ru">Вестерн</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
							</xs:restriction>
						</xs:simpleType>
					</xs:list>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Duration" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation xml:lang="en">Runtime</xs:documentation>
					<xs:documentation xml:lang="ru">Длительность</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Country" type="xs:IDREFS">
				<xs:annotation>
					<xs:documentation xml:lang="en">Country</xs:documentation>
					<xs:documentation xml:lang="ru">Страна</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="MovieList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="m:Movie" maxOccurs="unbounded"/>
				<xs:any namespace="##other" processContents="strict" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Record">
		<xs:annotation>
			<xs:documentation xml:lang="en">Record</xs:documentation>
			<xs:documentation xml:lang="ru">Запись</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="Name" type="xs:IDREF"/>
			<xs:attribute name="Quality">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="VHSRip"/>
						<xs:enumeration value="DVDRip"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Translation">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="None"/>
						<xs:enumeration value="SingleLQ"/>
						<xs:enumeration value="Single"/>
						<xs:enumeration value="Amateur"/>
						<xs:enumeration value="Simultaneous"/>
						<xs:enumeration value="Dub"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Source" type="xs:anyURI"/>
			<xs:attribute name="Sound">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Mono"/>
						<xs:enumeration value="Stereo"/>
						<xs:enumeration value="DolbyStereo"/>
						<xs:enumeration value="DolbySurround"/>
						<xs:enumeration value="DolbyProLogic"/>
						<xs:enumeration value="Simultaneous"/>
						<xs:enumeration value="DolbyDigital"/>
						<xs:enumeration value="DTS"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
