Geo/Schemas/Proxy.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2007 sp1 (http://www.altova.com)-->
<xs:schema xmlns="urn:schemas-xml-frafv:proxy" xmlns:e="urn:schemas-xml-frafv:proxy" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xml="http://www.w3.org/XML/1998/namespace" targetNamespace="urn:schemas-xml-frafv:proxy" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/xml.xsd"/>
	<xs:attribute name="Name" type="xs:ID">
		<xs:annotation>
			<xs:documentation xml:lang="ru">Локальное имя внешней сущности.</xs:documentation>
			<xs:documentation xml:lang="en">External entry local name.</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:attribute name="External" type="xs:NMTOKEN">
		<xs:annotation>
			<xs:documentation xml:lang="ru">Внешнее имя сущности до применения правил формирования вшених имён.</xs:documentation>
			<xs:documentation xml:lang="en">Entry external name before external name compile rule compilation.</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:attributeGroup name="Link">
		<xs:annotation>
			<xs:documentation xml:lang="ru">Идентификатор внешней сущности.</xs:documentation>
			<xs:documentation xml:lang="en">External entry identification.</xs:documentation>
		</xs:annotation>
		<xs:attribute ref="e:Name" use="required"/>
		<xs:attribute ref="e:External"/>
	</xs:attributeGroup>
	<xs:element name="Prefix">
		<xs:annotation>
			<xs:documentation xml:lang="ru">Правило формирования внешних имён.</xs:documentation>
			<xs:documentation xml:lang="en">External name compile rule.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="Local" type="xs:NMTOKEN">
				<xs:annotation>
					<xs:documentation xml:lang="ru">Локальный префикс, который нужно убрать из имени.</xs:documentation>
					<xs:documentation xml:lang="en">Local name prefix for removal.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="External" type="xs:NMTOKEN" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="ru">Внешний префикс, который прибавляется к имени.</xs:documentation>
					<xs:documentation xml:lang="en">External name prefix for addivity.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="ExportList">
		<xs:annotation>
			<xs:documentation xml:lang="ru">Список локальных сущностей для внешних списков (экспорт).</xs:documentation>
			<xs:documentation xml:lang="en">Local entries list for external lists (export).</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="e:Prefix" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="Export" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation xml:lang="ru">Экспорт локальной сущности.</xs:documentation>
						<xs:documentation xml:lang="en">Local entry export.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Label" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="ru">Композитное название экспортируемой сущности.</xs:documentation>
									<xs:documentation xml:lang="en">Total export label.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="Type">
												<xs:annotation>
													<xs:documentation xml:lang="ru">Тип названия.</xs:documentation>
													<xs:documentation xml:lang="en">Label type.</xs:documentation>
												</xs:annotation>
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:enumeration value="Org">
															<xs:annotation>
																<xs:documentation xml:lang="ru">Оригинальное название.</xs:documentation>
																<xs:documentation xml:lang="en">Original label.</xs:documentation>
															</xs:annotation>
														</xs:enumeration>
														<xs:enumeration value="Abbr">
															<xs:annotation>
																<xs:documentation xml:lang="ru">Аббревиатура или сокращение.</xs:documentation>
																<xs:documentation xml:lang="en">Abbreviation.</xs:documentation>
															</xs:annotation>
														</xs:enumeration>
													</xs:restriction>
												</xs:simpleType>
											</xs:attribute>
											<xs:attribute ref="xml:lang" use="required">
												<xs:annotation>
													<xs:documentation xml:lang="ru">Язык названия.</xs:documentation>
													<xs:documentation xml:lang="en">Label language.</xs:documentation>
												</xs:annotation>
											</xs:attribute>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="Code" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="ru">Код экспортируемой сущности.</xs:documentation>
									<xs:documentation xml:lang="en">Export code.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="Source" type="xs:IDREF" use="required">
												<xs:annotation>
													<xs:documentation xml:lang="ru">Организация стандарта либо кода.</xs:documentation>
													<xs:documentation xml:lang="en">Code standart organization.</xs:documentation>
												</xs:annotation>
											</xs:attribute>
											<xs:attribute name="Encoding" default="Text">
												<xs:annotation>
													<xs:documentation xml:lang="ru">Кодировка представления кода.</xs:documentation>
													<xs:documentation xml:lang="en">Code encoding.</xs:documentation>
												</xs:annotation>
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:enumeration value="Text">
															<xs:annotation>
																<xs:documentation xml:lang="ru">Текст.</xs:documentation>
																<xs:documentation xml:lang="en">Text.</xs:documentation>
															</xs:annotation>
														</xs:enumeration>
														<xs:enumeration value="Hex">
															<xs:annotation>
																<xs:documentation xml:lang="ru">Число в шестнадцатиричном виде.</xs:documentation>
																<xs:documentation xml:lang="en">Hexadecimal number.</xs:documentation>
															</xs:annotation>
														</xs:enumeration>
														<xs:enumeration value="Number">
															<xs:annotation>
																<xs:documentation xml:lang="ru">Число.</xs:documentation>
																<xs:documentation xml:lang="en">Number.</xs:documentation>
															</xs:annotation>
														</xs:enumeration>
													</xs:restriction>
												</xs:simpleType>
											</xs:attribute>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="Name" type="xs:IDREFS" use="required">
							<xs:annotation>
								<xs:documentation xml:lang="ru">Локальные имена сущностей.</xs:documentation>
								<xs:documentation xml:lang="en">Entries local names.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="External" type="xs:NMTOKEN">
							<xs:annotation>
								<xs:documentation xml:lang="ru">Внешнее имя сущности до применения правил формирования вшених имён.</xs:documentation>
								<xs:documentation xml:lang="en">Entry external name before external name compile rule compilation.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
