Geo/Schemas/TimeZone.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2007 rel. 3 sp1 (http://www.altova.com)-->
<xs:schema xmlns="urn:geo-schemas-xml-frafv:timezone" xmlns:tz="urn:geo-schemas-xml-frafv:timezone" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xml="http://www.w3.org/XML/1998/namespace" targetNamespace="urn:geo-schemas-xml-frafv:timezone" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace"/>
	<xs:simpleType name="TypeEnum">
		<xs:annotation>
			<xs:documentation xml:lang="en">Type of time in time zone</xs:documentation>
			<xs:documentation xml:lang="ru">Зимнее/летнее время в часовом поясе</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Standard">
				<xs:annotation>
					<xs:documentation xml:lang="en">Standard time</xs:documentation>
					<xs:documentation xml:lang="ru">Зимнее время</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Daylight">
				<xs:annotation>
					<xs:documentation xml:lang="en">Daylight saving time</xs:documentation>
					<xs:documentation xml:lang="ru">Летнее время</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BiasType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Bias for local time translation</xs:documentation>
			<xs:documentation xml:lang="ru">Разница для перевода местного времени</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\-?[0-1]\d:[0-5]\d:[0-5]\d"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="TimeZoneList">
		<xs:annotation>
			<xs:documentation xml:lang="en">List of time zones</xs:documentation>
			<xs:documentation xml:lang="ru">Список часовых поясов</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tz:TimeZone" maxOccurs="unbounded"/>
				<xs:any namespace="##other" processContents="strict" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TimeZone">
		<xs:annotation>
			<xs:documentation xml:lang="en">Time zone</xs:documentation>
			<xs:documentation xml:lang="ru">Часовой пояс</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tz:Link" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="tz:Label" maxOccurs="unbounded"/>
				<xs:element ref="tz:Info" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="Name" type="xs:ID" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="en">Time zone id</xs:documentation>
					<xs:documentation xml:lang="ru">Идентификатор часового пояса</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Link">
		<xs:annotation>
			<xs:documentation xml:lang="en">Universal link</xs:documentation>
			<xs:documentation xml:lang="ru">Универсальная ссылка</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="Type" type="xs:string" use="required">
						<xs:annotation>
							<xs:documentation xml:lang="en">Link type</xs:documentation>
							<xs:documentation xml:lang="ru">Тип ссылки</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="URL" type="xs:anyURI" use="required">
						<xs:annotation>
							<xs:documentation xml:lang="en">Link URL</xs:documentation>
							<xs:documentation xml:lang="ru">Адрес ссылки</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Label">
		<xs:annotation>
			<xs:documentation xml:lang="en">Time zone label</xs:documentation>
			<xs:documentation xml:lang="ru">Название часового пояса</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute ref="xml:lang" use="required"/>
					<xs:attribute name="Type" type="tz:TypeEnum">
						<xs:annotation>
							<xs:documentation xml:lang="en">Type of time for time zone label</xs:documentation>
							<xs:documentation xml:lang="ru">Название зимнего или летнего время в часовом поясе</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Info">
		<xs:annotation>
			<xs:documentation xml:lang="en">Time zone information by year</xs:documentation>
			<xs:documentation xml:lang="ru">Ежегодная информация перехода на зимнее и летнее время в часовом поясе</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence minOccurs="0">
				<xs:element ref="tz:Date"/>
				<xs:element ref="tz:Date"/>
			</xs:sequence>
			<xs:attribute name="Year" type="xs:short">
				<xs:annotation>
					<xs:documentation xml:lang="en">Year of time zone</xs:documentation>
					<xs:documentation xml:lang="ru">Год часового пояса</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Bias" type="tz:BiasType" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="en">Bias of time zone for local time translation</xs:documentation>
					<xs:documentation xml:lang="ru">Разница в часовом поясе для перевода местного времени</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Date">
		<xs:annotation>
			<xs:documentation xml:lang="en">Time zone period edge</xs:documentation>
			<xs:documentation xml:lang="ru">Переход на зимнее и летнее время в часовом поясе</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="Type" type="tz:TypeEnum" use="required">
						<xs:annotation>
							<xs:documentation xml:lang="en">Type of time edge in time zone</xs:documentation>
							<xs:documentation xml:lang="ru">Зимнее или летнее время в часовом поясе</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="Bias" type="tz:BiasType">
						<xs:annotation>
							<xs:documentation xml:lang="en">Daylight saving bias for local time translation</xs:documentation>
							<xs:documentation xml:lang="ru">Разница перехода на летнее время в часовом поясе</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="Week">
						<xs:annotation>
							<xs:documentation xml:lang="en">Occurence of the day of the week within the month</xs:documentation>
							<xs:documentation xml:lang="ru">Неделя перехода</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="First">
									<xs:annotation>
										<xs:documentation xml:lang="en">1st week in the month</xs:documentation>
										<xs:documentation xml:lang="ru">Первая неделя месяца</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="Second">
									<xs:annotation>
										<xs:documentation xml:lang="en">2nd week in the month</xs:documentation>
										<xs:documentation xml:lang="ru">Вторая неделя месяца</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="Third">
									<xs:annotation>
										<xs:documentation xml:lang="en">3rd week in the month</xs:documentation>
										<xs:documentation xml:lang="ru">Третья неделя месяца</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="Fourth">
									<xs:annotation>
										<xs:documentation xml:lang="en">4th week in the month</xs:documentation>
										<xs:documentation xml:lang="ru">Четвёртая неделя месяца</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="Last">
									<xs:annotation>
										<xs:documentation xml:lang="en">Last week in the month</xs:documentation>
										<xs:documentation xml:lang="ru">Последняя неделя месяца</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Day">
						<xs:annotation>
							<xs:documentation xml:lang="en">Weekday of daylight saving time edge</xs:documentation>
							<xs:documentation xml:lang="ru">День недели перехода</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Sunday">
									<xs:annotation>
										<xs:documentation xml:lang="en">On sunday</xs:documentation>
										<xs:documentation xml:lang="ru">В воскресенье</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="Monday">
									<xs:annotation>
										<xs:documentation xml:lang="en">On monday</xs:documentation>
										<xs:documentation xml:lang="ru">В понедельник</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="Tuesday">
									<xs:annotation>
										<xs:documentation xml:lang="en">On tuesday</xs:documentation>
										<xs:documentation xml:lang="ru">Во вторник</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="Wednesday">
									<xs:annotation>
										<xs:documentation xml:lang="en">On wednesday</xs:documentation>
										<xs:documentation xml:lang="ru">В среду</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="Thursday">
									<xs:annotation>
										<xs:documentation xml:lang="en">On thursday</xs:documentation>
										<xs:documentation xml:lang="ru">В четверг</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="Friday">
									<xs:annotation>
										<xs:documentation xml:lang="en">On friday</xs:documentation>
										<xs:documentation xml:lang="ru">В пятницу</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="Saturday">
									<xs:annotation>
										<xs:documentation xml:lang="en">On saturday</xs:documentation>
										<xs:documentation xml:lang="ru">В субботу</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Month">
						<xs:annotation>
							<xs:documentation xml:lang="en">Month of daylight saving time edge</xs:documentation>
							<xs:documentation xml:lang="ru">Месяц перехода</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="January">
									<xs:annotation>
										<xs:documentation xml:lang="en">January</xs:documentation>
										<xs:documentation xml:lang="ru">Январь</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="February">
									<xs:annotation>
										<xs:documentation xml:lang="en">February</xs:documentation>
										<xs:documentation xml:lang="ru">Февраль</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="March">
									<xs:annotation>
										<xs:documentation xml:lang="en">March</xs:documentation>
										<xs:documentation xml:lang="ru">Март</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="April">
									<xs:annotation>
										<xs:documentation xml:lang="en">April</xs:documentation>
										<xs:documentation xml:lang="ru">Апрель</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="May">
									<xs:annotation>
										<xs:documentation xml:lang="en">May</xs:documentation>
										<xs:documentation xml:lang="ru">Май</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="June">
									<xs:annotation>
										<xs:documentation xml:lang="en">June</xs:documentation>
										<xs:documentation xml:lang="ru">Июнь</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="July">
									<xs:annotation>
										<xs:documentation xml:lang="en">July</xs:documentation>
										<xs:documentation xml:lang="ru">Июль</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="August">
									<xs:annotation>
										<xs:documentation xml:lang="en">August</xs:documentation>
										<xs:documentation xml:lang="ru">Август</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="September">
									<xs:annotation>
										<xs:documentation xml:lang="en">September</xs:documentation>
										<xs:documentation xml:lang="ru">Сентябрь</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="October">
									<xs:annotation>
										<xs:documentation xml:lang="en">October</xs:documentation>
										<xs:documentation xml:lang="ru">Октябрь</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="November">
									<xs:annotation>
										<xs:documentation xml:lang="en">November</xs:documentation>
										<xs:documentation xml:lang="ru">Ноябрь</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="December">
									<xs:annotation>
										<xs:documentation xml:lang="en">December</xs:documentation>
										<xs:documentation xml:lang="ru">Декабрь</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Date" type="xs:date">
						<xs:annotation>
							<xs:documentation xml:lang="en">Date of daylight saving time edge</xs:documentation>
							<xs:documentation xml:lang="ru">Дата перехода</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="Time" type="xs:time">
						<xs:annotation>
							<xs:documentation xml:lang="en">Time of daylight saving time edge</xs:documentation>
							<xs:documentation xml:lang="ru">Время перехода</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
