Schemas/Matter.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2007 sp1 (http://www.altova.com)-->
<xs:schema xmlns="urn:multimedia-schemas-xml-frafv:movie" xmlns:m="urn:multimedia-schemas-xml-frafv:matter" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xml="http://www.w3.org/XML/1998/namespace" targetNamespace="urn:multimedia-schemas-xml-frafv:matter" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/xml.xsd"/>
	<xs:simpleType name="DurationHour">
		<xs:restriction base="xs:string">
			<xs:pattern value="((((\d+:\d)|(\d?))\d:\d)|(\d?))\d(\.\d+)?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:attributeGroup name="TimedAttr">
		<xs:attribute name="Start" type="m:DurationHour"/>
		<xs:attribute name="End" type="m:DurationHour"/>
	</xs:attributeGroup>
	<xs:complexType name="TitleType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute ref="xml:lang" use="required">
					<xs:annotation>
						<xs:documentation xml:lang="en">Label language</xs:documentation>
						<xs:documentation xml:lang="ru">Язык названия</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="Prefix" type="xs:string">
					<xs:annotation>
						<xs:documentation xml:lang="en">Label prefix</xs:documentation>
						<xs:documentation xml:lang="ru">Префикс у названия</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="Suffix" type="xs:string">
					<xs:annotation>
						<xs:documentation xml:lang="en">Label suffix</xs:documentation>
						<xs:documentation xml:lang="ru">Суффикс у названия</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="Label" type="m:TitleType"/>
	<xs:element name="Description">
		<xs:annotation>
			<xs:documentation xml:lang="en">Description</xs:documentation>
			<xs:documentation xml:lang="ru">Описание</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="p">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="Participant" type="xs:IDREFS"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="Stanza">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="v" type="xs:string" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:choice>
			<xs:attribute ref="xml:lang" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="en">Description language</xs:documentation>
					<xs:documentation xml:lang="ru">Язык описания</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Type" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="en">Description type</xs:documentation>
					<xs:documentation xml:lang="ru">Тип описания</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:list>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Keywords">
									<xs:annotation>
										<xs:documentation xml:lang="en">Plot Keywords</xs:documentation>
										<xs:documentation xml:lang="ru">Ключевые моменты</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="Outline">
									<xs:annotation>
										<xs:documentation xml:lang="en">Plot Outline</xs:documentation>
										<xs:documentation xml:lang="ru">Сюжет</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="Tagline">
									<xs:annotation>
										<xs:documentation xml:lang="en">Tagline</xs:documentation>
										<xs:documentation xml:lang="ru">Слоган</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="Intro">
									<xs:annotation>
										<xs:documentation xml:lang="en">Introduction</xs:documentation>
										<xs:documentation xml:lang="ru">Вступление</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="Epilogue">
									<xs:annotation>
										<xs:documentation xml:lang="en">Epilogue</xs:documentation>
										<xs:documentation xml:lang="ru">Эпилог</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="Quote">
									<xs:annotation>
										<xs:documentation xml:lang="ru">Цитата.</xs:documentation>
										<xs:documentation xml:lang="en">Quote.</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="Translation">
									<xs:annotation>
										<xs:documentation xml:lang="ru">Перевод.</xs:documentation>
										<xs:documentation xml:lang="en">Translation.</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
							</xs:restriction>
						</xs:simpleType>
					</xs:list>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Source" type="xs:anyURI">
				<xs:annotation>
					<xs:documentation xml:lang="en">Description source</xs:documentation>
					<xs:documentation xml:lang="ru">Источник описания</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Content">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="m:Description"/>
				<xs:element name="p" type="xs:string"/>
				<xs:element name="Lyrics">
					<xs:complexType>
						<xs:choice maxOccurs="unbounded">
							<xs:element ref="m:Label"/>
							<xs:element name="Note" type="xs:string"/>
							<xs:element name="Stanza">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="v" maxOccurs="unbounded">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attributeGroup ref="m:TimedAttr"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Chorus">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="v" maxOccurs="unbounded">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attributeGroup ref="m:TimedAttr"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="p">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="Participant" type="xs:IDREFS"/>
											<xs:attributeGroup ref="m:TimedAttr"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:choice>
						<xs:attribute name="Source" type="xs:anyURI"/>
					</xs:complexType>
				</xs:element>
			</xs:choice>
		</xs:complexType>
	</xs:element>
</xs:schema>
