Schemas/MediaProxy.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2007 sp1 (http://www.altova.com)-->
<xs:schema xmlns="urn:multimedia-schemas-xml-frafv:proxy" xmlns:p="urn:multimedia-schemas-xml-frafv:proxy" xmlns:e="urn:schemas-xml-frafv:proxy" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xml="http://www.w3.org/XML/1998/namespace" targetNamespace="urn:multimedia-schemas-xml-frafv:proxy" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/xml.xsd"/>
	<xs:import namespace="urn:schemas-xml-frafv:proxy" schemaLocation="Proxy.xsd"/>
	<xs:complexType name="LabelType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute ref="xml:lang" use="required">
					<xs:annotation>
						<xs:documentation xml:lang="en">Label language</xs:documentation>
						<xs:documentation xml:lang="ru">Язык названия</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="Type">
					<xs:annotation>
						<xs:documentation xml:lang="en">Label type</xs:documentation>
						<xs:documentation xml:lang="ru">Тип названия</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="Org">
								<xs:annotation>
									<xs:documentation xml:lang="en">Original label</xs:documentation>
									<xs:documentation xml:lang="ru">Оригинальное название</xs:documentation>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="Abbr"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute name="Prefix" type="xs:string">
					<xs:annotation>
						<xs:documentation xml:lang="en">Label prefix</xs:documentation>
						<xs:documentation xml:lang="ru">Префикс у названия</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="Suffix" type="xs:string">
					<xs:annotation>
						<xs:documentation xml:lang="en">Label suffix</xs:documentation>
						<xs:documentation xml:lang="ru">Суффикс у названия</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="Source" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="CreditsType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Credits</xs:documentation>
			<xs:documentation xml:lang="ru">Исполнительный состав</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Participant" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="en">Participant</xs:documentation>
					<xs:documentation xml:lang="ru">Участник</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Label" type="p:LabelType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
					<xs:attribute name="Role" use="required">
						<xs:annotation>
							<xs:documentation xml:lang="en">Participant role</xs:documentation>
							<xs:documentation xml:lang="ru">Роль участника</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Camera">
									<xs:annotation>
										<xs:documentation xml:lang="en">Cameraman</xs:documentation>
										<xs:documentation xml:lang="ru">Оператор</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="CoProducer">
									<xs:annotation>
										<xs:documentation xml:lang="en">Co-Producer</xs:documentation>
										<xs:documentation xml:lang="ru">Сопродюсер</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="Composer">
									<xs:annotation>
										<xs:documentation xml:lang="en">Composer</xs:documentation>
										<xs:documentation xml:lang="ru">Композитор</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="Director">
									<xs:annotation>
										<xs:documentation xml:lang="en">Director</xs:documentation>
										<xs:documentation xml:lang="ru">Режиссёр</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="ExecProducer">
									<xs:annotation>
										<xs:documentation xml:lang="en">Executive Producer</xs:documentation>
										<xs:documentation xml:lang="ru">Исполнительный продюсер</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="Producer">
									<xs:annotation>
										<xs:documentation xml:lang="en">Producer</xs:documentation>
										<xs:documentation xml:lang="ru">Продюсер</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="BookWriter">
									<xs:annotation>
										<xs:documentation xml:lang="en">Book author</xs:documentation>
										<xs:documentation xml:lang="ru">Автор книги</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="Writer">
									<xs:annotation>
										<xs:documentation xml:lang="en">Writer</xs:documentation>
										<xs:documentation xml:lang="ru">Автор сценария</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Name" type="xs:IDREF" use="required">
						<xs:annotation>
							<xs:documentation xml:lang="en">Participant link</xs:documentation>
							<xs:documentation xml:lang="ru">Ссылка на участника</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CastType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Cast</xs:documentation>
			<xs:documentation xml:lang="ru">Состав</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Participant" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="en">Participant</xs:documentation>
					<xs:documentation xml:lang="ru">Участник</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Label" type="p:LabelType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
					<xs:attribute name="Role" use="required">
						<xs:annotation>
							<xs:documentation xml:lang="en">Participant role</xs:documentation>
							<xs:documentation xml:lang="ru">Роль участника</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Actor">
									<xs:annotation>
										<xs:documentation xml:lang="en">Actor</xs:documentation>
										<xs:documentation xml:lang="ru">Актёр</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="Dub">
									<xs:annotation>
										<xs:documentation xml:lang="en">Dub</xs:documentation>
										<xs:documentation xml:lang="ru">Дублёр</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="Self">
									<xs:annotation>
										<xs:documentation xml:lang="en">Himself ot Hereself</xs:documentation>
										<xs:documentation xml:lang="ru">Сам себя</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Name" type="xs:IDREF" use="required">
						<xs:annotation>
							<xs:documentation xml:lang="en">Participant link</xs:documentation>
							<xs:documentation xml:lang="ru">Ссылка на участника</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="Type" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="en">Cast type</xs:documentation>
				<xs:documentation xml:lang="ru">Тип состава</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Main">
						<xs:annotation>
							<xs:documentation xml:lang="en">First cast</xs:documentation>
							<xs:documentation xml:lang="ru">Первый состав</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Rest">
						<xs:annotation>
							<xs:documentation xml:lang="en">Rest cast</xs:documentation>
							<xs:documentation xml:lang="ru">Остальной состав</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="TitleType">
		<xs:sequence>
			<xs:element name="Label" type="p:LabelType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="ru">Название раздела (если отличается от названия фильма)</xs:documentation>
					<xs:documentation xml:lang="en">Another chapter label</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="Num" type="xs:unsignedInt" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="ru">Номер раздела</xs:documentation>
				<xs:documentation xml:lang="en">Chapter number</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Name" type="xs:IDREF">
			<xs:annotation>
				<xs:documentation xml:lang="ru">Ссылка на фильм (во внешнем списке)</xs:documentation>
				<xs:documentation xml:lang="en">Movie link (in the external list)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ID" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="TrackType">
		<xs:sequence>
			<xs:element name="Label" type="p:LabelType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="ru">Название дорожки (если отличается от названия песни или фильма).</xs:documentation>
					<xs:documentation xml:lang="en">Another track label.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="Num" type="xs:unsignedInt" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="ru">Номер дорожки.</xs:documentation>
				<xs:documentation xml:lang="en">Track number.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Name" type="xs:IDREF">
			<xs:annotation>
				<xs:documentation xml:lang="ru">Ссылка на песню или фильм (во внешнем списке)</xs:documentation>
				<xs:documentation xml:lang="en">Song or movie link (in the external list)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="ExternalList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="e:Prefix" minOccurs="0" maxOccurs="unbounded"/>
				<xs:choice>
					<xs:element name="Language" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation xml:lang="ru">Язык.</xs:documentation>
							<xs:documentation xml:lang="en">Language.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Label" type="p:LabelType" maxOccurs="unbounded">
									<xs:annotation>
										<xs:documentation xml:lang="ru">Название языка.</xs:documentation>
										<xs:documentation xml:lang="en">Language name.</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
							<xs:attributeGroup ref="e:Link">
								<xs:annotation>
									<xs:documentation xml:lang="ru">Идентификатор языка.</xs:documentation>
									<xs:documentation xml:lang="en">Language identifier.</xs:documentation>
								</xs:annotation>
							</xs:attributeGroup>
						</xs:complexType>
					</xs:element>
					<xs:element name="Genre" maxOccurs="unbounded">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Label" type="p:LabelType" maxOccurs="unbounded"/>
							</xs:sequence>
							<xs:attributeGroup ref="e:Link">
								<xs:annotation>
									<xs:documentation xml:lang="ru">Идентификатор жанра.</xs:documentation>
									<xs:documentation xml:lang="en">Genre identifier.</xs:documentation>
								</xs:annotation>
							</xs:attributeGroup>
						</xs:complexType>
					</xs:element>
					<xs:element name="Kind" maxOccurs="unbounded">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Label" type="p:LabelType" maxOccurs="unbounded"/>
							</xs:sequence>
							<xs:attributeGroup ref="e:Link">
								<xs:annotation>
									<xs:documentation xml:lang="ru">Идентификатор вида фильма.</xs:documentation>
									<xs:documentation xml:lang="en">Movie kind identifier.</xs:documentation>
								</xs:annotation>
							</xs:attributeGroup>
						</xs:complexType>
					</xs:element>
					<xs:element name="Certification" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation xml:lang="ru">Сертификат фильма.</xs:documentation>
							<xs:documentation xml:lang="en">Movie certification.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Label" type="p:LabelType" maxOccurs="unbounded">
									<xs:annotation>
										<xs:documentation xml:lang="ru">Название сертификата.</xs:documentation>
										<xs:documentation xml:lang="en">Certificate label.</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
							<xs:attributeGroup ref="e:Link">
								<xs:annotation>
									<xs:documentation xml:lang="ru">Идентификатор сертификата.</xs:documentation>
									<xs:documentation xml:lang="en">Certificate identifier.</xs:documentation>
								</xs:annotation>
							</xs:attributeGroup>
						</xs:complexType>
					</xs:element>
					<xs:element name="Award" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation xml:lang="ru">Награды фильма.</xs:documentation>
							<xs:documentation xml:lang="en">Movie awards.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Label" type="p:LabelType" maxOccurs="unbounded">
									<xs:annotation>
										<xs:documentation xml:lang="ru">Название награды.</xs:documentation>
										<xs:documentation xml:lang="en">Award name.</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="Nomination" maxOccurs="unbounded">
									<xs:annotation>
										<xs:documentation xml:lang="ru">Номинация.</xs:documentation>
										<xs:documentation xml:lang="en">Nomination.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Label" type="p:LabelType" minOccurs="0" maxOccurs="unbounded">
												<xs:annotation>
													<xs:documentation xml:lang="ru">Название номинации.</xs:documentation>
													<xs:documentation xml:lang="en">Nomination name.</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
										<xs:attributeGroup ref="e:Link">
											<xs:annotation>
												<xs:documentation xml:lang="ru">Идентификатор номинации.</xs:documentation>
												<xs:documentation xml:lang="en">Award nomination identifier.</xs:documentation>
											</xs:annotation>
										</xs:attributeGroup>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="Company" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation xml:lang="ru">Компания</xs:documentation>
							<xs:documentation xml:lang="en">Company</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Label" type="p:LabelType" maxOccurs="unbounded"/>
							</xs:sequence>
							<xs:attributeGroup ref="e:Link">
								<xs:annotation>
									<xs:documentation xml:lang="ru">Идентификатор компании.</xs:documentation>
									<xs:documentation xml:lang="en">Company identifier.</xs:documentation>
								</xs:annotation>
							</xs:attributeGroup>
							<xs:attribute name="Sort" type="xs:string">
								<xs:annotation>
									<xs:documentation xml:lang="ru">Порядок сортировки.</xs:documentation>
									<xs:documentation xml:lang="en">Sort order.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:complexType>
					</xs:element>
					<xs:element name="Group" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation xml:lang="ru">Группа участников.</xs:documentation>
							<xs:documentation xml:lang="en">Participant group.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Label" type="p:LabelType" maxOccurs="unbounded"/>
							</xs:sequence>
							<xs:attributeGroup ref="e:Link">
								<xs:annotation>
									<xs:documentation xml:lang="ru">Идентификатор группы.</xs:documentation>
									<xs:documentation xml:lang="en">Group identifier.</xs:documentation>
								</xs:annotation>
							</xs:attributeGroup>
							<xs:attribute name="Sort" type="xs:string">
								<xs:annotation>
									<xs:documentation xml:lang="ru">Порядок сортировки.</xs:documentation>
									<xs:documentation xml:lang="en">Sort order.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:complexType>
					</xs:element>
					<xs:element name="Participant" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation xml:lang="ru">Участник.</xs:documentation>
							<xs:documentation xml:lang="en">Participant.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Label" type="p:LabelType" maxOccurs="unbounded"/>
							</xs:sequence>
							<xs:attribute name="Sort" type="xs:string">
								<xs:annotation>
									<xs:documentation xml:lang="ru">Порядок сортировки.</xs:documentation>
									<xs:documentation xml:lang="en">Sort order.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attributeGroup ref="e:Link">
								<xs:annotation>
									<xs:documentation xml:lang="ru">Идентификатор участника.</xs:documentation>
									<xs:documentation xml:lang="en">Participant identifier.</xs:documentation>
								</xs:annotation>
							</xs:attributeGroup>
						</xs:complexType>
					</xs:element>
					<xs:element name="Location" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation xml:lang="ru">Местоположение.</xs:documentation>
							<xs:documentation xml:lang="en">Location.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Label" type="p:LabelType" maxOccurs="unbounded">
									<xs:annotation>
										<xs:documentation xml:lang="ru">Название местоположения.</xs:documentation>
										<xs:documentation xml:lang="en">Location name.</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
							<xs:attributeGroup ref="e:Link">
								<xs:annotation>
									<xs:documentation xml:lang="ru">Идентификатор местоположения.</xs:documentation>
									<xs:documentation xml:lang="en">Location identifier.</xs:documentation>
								</xs:annotation>
							</xs:attributeGroup>
							<xs:attribute name="Type" use="required">
								<xs:annotation>
									<xs:documentation xml:lang="ru">Тип местоположения.</xs:documentation>
									<xs:documentation xml:lang="en">Location type.</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="Continent">
											<xs:annotation>
												<xs:documentation xml:lang="ru">Континент.</xs:documentation>
												<xs:documentation xml:lang="en">Continent.</xs:documentation>
											</xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="Country">
											<xs:annotation>
												<xs:documentation xml:lang="ru">Страна.</xs:documentation>
												<xs:documentation xml:lang="en">Country.</xs:documentation>
											</xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="Region">
											<xs:annotation>
												<xs:documentation xml:lang="ru">Административный район.</xs:documentation>
												<xs:documentation xml:lang="en">Administrative region.</xs:documentation>
											</xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="City">
											<xs:annotation>
												<xs:documentation xml:lang="ru">Населённый пункт.</xs:documentation>
												<xs:documentation xml:lang="en">City.</xs:documentation>
											</xs:annotation>
										</xs:enumeration>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="Sort" type="xs:string">
								<xs:annotation>
									<xs:documentation xml:lang="en">Sort order</xs:documentation>
									<xs:documentation xml:lang="ru">Порядок сортировки</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:complexType>
					</xs:element>
					<xs:element name="Collection" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation xml:lang="ru">Сборник фильмов.</xs:documentation>
							<xs:documentation xml:lang="en">Movies collection.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Label" type="p:LabelType" maxOccurs="unbounded">
									<xs:annotation>
										<xs:documentation xml:lang="ru">Название сборника фильмов в разных странах (AKA).</xs:documentation>
										<xs:documentation xml:lang="en">Movie collection label in countries, Also Known As (AKA).</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="Credits" type="p:CreditsType" minOccurs="0" maxOccurs="unbounded"/>
								<xs:element name="Media">
									<xs:annotation>
										<xs:documentation xml:lang="ru">Диск</xs:documentation>
										<xs:documentation xml:lang="en">Disk in the content</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Title" type="p:TitleType" maxOccurs="unbounded">
												<xs:annotation>
													<xs:documentation xml:lang="ru">Раздел</xs:documentation>
													<xs:documentation xml:lang="en">Chapter in the content</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
										<xs:attribute name="Type" type="xs:string">
											<xs:annotation>
												<xs:documentation xml:lang="ru">Название либо вид диска</xs:documentation>
												<xs:documentation xml:lang="en">Disk kind or name</xs:documentation>
											</xs:annotation>
										</xs:attribute>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
							<xs:attributeGroup ref="e:Link">
								<xs:annotation>
									<xs:documentation xml:lang="ru">Идентификатор сборника фильмов.</xs:documentation>
									<xs:documentation xml:lang="en">Movie collection identifier.</xs:documentation>
								</xs:annotation>
							</xs:attributeGroup>
							<xs:attribute name="Sort" type="xs:string">
								<xs:annotation>
									<xs:documentation xml:lang="ru">Порядок сортировки.</xs:documentation>
									<xs:documentation xml:lang="en">Sort order.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:complexType>
					</xs:element>
					<xs:element name="Sequence" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation xml:lang="ru">Цикл фильмов.</xs:documentation>
							<xs:documentation xml:lang="en">Movies sequence.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Label" type="p:LabelType" maxOccurs="unbounded">
									<xs:annotation>
										<xs:documentation xml:lang="ru">Название цикла в разных странах (AKA).</xs:documentation>
										<xs:documentation xml:lang="en">Movie sequence label in countries, Also Known As (AKA).</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="Credits" type="p:CreditsType" minOccurs="0" maxOccurs="unbounded"/>
								<xs:element name="Title" type="p:TitleType" maxOccurs="unbounded">
									<xs:annotation>
										<xs:documentation xml:lang="ru">Серия или сезон.</xs:documentation>
										<xs:documentation xml:lang="en">Episode or season.</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
							<xs:attributeGroup ref="e:Link">
								<xs:annotation>
									<xs:documentation xml:lang="ru">Идентификатор сборника фильмов.</xs:documentation>
									<xs:documentation xml:lang="en">Movie collection identifier.</xs:documentation>
								</xs:annotation>
							</xs:attributeGroup>
							<xs:attribute name="Consist" type="xs:IDREF">
								<xs:annotation>
									<xs:documentation xml:lang="ru">Состав цикла.</xs:documentation>
									<xs:documentation xml:lang="en">Sequence content.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="Sort" type="xs:string">
								<xs:annotation>
									<xs:documentation xml:lang="ru">Порядок сортировки.</xs:documentation>
									<xs:documentation xml:lang="en">Sort order.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:complexType>
					</xs:element>
					<xs:element name="Movie" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation xml:lang="ru">Фильм.</xs:documentation>
							<xs:documentation xml:lang="en">Movie.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Label" type="p:LabelType" maxOccurs="unbounded">
									<xs:annotation>
										<xs:documentation xml:lang="ru">Название фильма в разных странах (AKA).</xs:documentation>
										<xs:documentation xml:lang="en">Movie label in countries, Also Known As (AKA).</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="Credits" type="p:CreditsType" minOccurs="0"/>
								<xs:element name="Cast" type="p:CastType" minOccurs="0" maxOccurs="unbounded"/>
							</xs:sequence>
							<xs:attributeGroup ref="e:Link">
								<xs:annotation>
									<xs:documentation xml:lang="ru">Идентификатор фильма.</xs:documentation>
									<xs:documentation xml:lang="en">Movie identifier.</xs:documentation>
								</xs:annotation>
							</xs:attributeGroup>
							<xs:attribute name="Genre" type="xs:IDREF">
								<xs:annotation>
									<xs:documentation xml:lang="ru">Жанр.</xs:documentation>
									<xs:documentation xml:lang="en">Genre.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="Kind" type="xs:IDREF">
								<xs:annotation>
									<xs:documentation xml:lang="ru">Вид фильма.</xs:documentation>
									<xs:documentation xml:lang="en">Movie kind.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="Sort" type="xs:string">
								<xs:annotation>
									<xs:documentation xml:lang="ru">Порядок сортировки.</xs:documentation>
									<xs:documentation xml:lang="en">Sort order.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:complexType>
					</xs:element>
					<xs:element name="Album" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation xml:lang="ru">Альбом.</xs:documentation>
							<xs:documentation xml:lang="en">Album.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Label" type="p:LabelType" maxOccurs="unbounded"/>
								<xs:element name="Credits" type="p:CreditsType" minOccurs="0"/>
								<xs:choice minOccurs="0">
									<xs:element name="Media" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Label" type="p:LabelType" minOccurs="0" maxOccurs="unbounded">
													<xs:annotation>
														<xs:documentation xml:lang="ru">Название диска (если отличается от названия альбома).</xs:documentation>
														<xs:documentation xml:lang="en">Another disk label.</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="Track" type="TrackType" maxOccurs="unbounded"/>
											</xs:sequence>
											<xs:attribute name="Type" type="xs:string">
												<xs:annotation>
													<xs:documentation xml:lang="ru">Название либо вид диска.</xs:documentation>
													<xs:documentation xml:lang="en">Disk kind or name.</xs:documentation>
												</xs:annotation>
											</xs:attribute>
										</xs:complexType>
									</xs:element>
									<xs:element name="Track" type="TrackType" maxOccurs="unbounded"/>
								</xs:choice>
							</xs:sequence>
							<xs:attributeGroup ref="e:Link">
								<xs:annotation>
									<xs:documentation xml:lang="ru">Идентификатор альбома.</xs:documentation>
									<xs:documentation xml:lang="en">Album identifier.</xs:documentation>
								</xs:annotation>
							</xs:attributeGroup>
							<xs:attribute name="Type" default="Official">
								<xs:annotation>
									<xs:documentation xml:lang="ru">Тип альбома.</xs:documentation>
									<xs:documentation xml:lang="en">Album type.</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:list>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Collection">
													<xs:annotation>
														<xs:documentation xml:lang="ru">Сборник.</xs:documentation>
														<xs:documentation xml:lang="en">Collection.</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="Official">
													<xs:annotation>
														<xs:documentation xml:lang="ru">Официальный альбом.</xs:documentation>
														<xs:documentation xml:lang="en">Official album.</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
											</xs:restriction>
										</xs:simpleType>
									</xs:list>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="Genre" type="xs:IDREF">
								<xs:annotation>
									<xs:documentation xml:lang="ru">Жанр.</xs:documentation>
									<xs:documentation xml:lang="en">Genre.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="Artist" type="xs:IDREF"/>
							<xs:attribute name="Sort" type="xs:string">
								<xs:annotation>
									<xs:documentation xml:lang="ru">Порядок сортировки.</xs:documentation>
									<xs:documentation xml:lang="en">Sort order.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:complexType>
					</xs:element>
					<xs:element name="Song" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation xml:lang="ru">Песня.</xs:documentation>
							<xs:documentation xml:lang="en">Song.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Label" type="p:LabelType" maxOccurs="unbounded"/>
								<xs:element name="Credits" type="p:CreditsType" minOccurs="0"/>
							</xs:sequence>
							<xs:attributeGroup ref="e:Link">
								<xs:annotation>
									<xs:documentation xml:lang="ru">Идентификатор песни.</xs:documentation>
									<xs:documentation xml:lang="en">Song identifier.</xs:documentation>
								</xs:annotation>
							</xs:attributeGroup>
							<xs:attribute name="Genre" type="xs:IDREF">
								<xs:annotation>
									<xs:documentation xml:lang="ru">Жанр.</xs:documentation>
									<xs:documentation xml:lang="en">Genre.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="Artist" type="xs:IDREF" use="required"/>
							<xs:attribute name="Sort" type="xs:string">
								<xs:annotation>
									<xs:documentation xml:lang="ru">Порядок сортировки.</xs:documentation>
									<xs:documentation xml:lang="en">Sort order.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:complexType>
					</xs:element>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
