Schemas/Movie.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2007 sp1 (http://www.altova.com)-->
<xs:schema xmlns="urn:multimedia-schemas-xml-frafv:movie" xmlns:m="urn:multimedia-schemas-xml-frafv:movie" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xml="http://www.w3.org/XML/1998/namespace" targetNamespace="urn:multimedia-schemas-xml-frafv:movie" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/xml.xsd"/>
	<xs:simpleType name="DateType">
		<xs:union memberTypes="xs:date xs:gYearMonth xs:gYear"/>
	</xs:simpleType>
	<xs:attributeGroup name="Period">
		<xs:attribute name="StartPeriod">
			<xs:annotation>
				<xs:documentation xml:lang="ru">Начало периода.</xs:documentation>
				<xs:documentation xml:lang="en">Start Period.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:union memberTypes="xs:date xs:gYearMonth xs:gYear"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="EndPeriod">
			<xs:annotation>
				<xs:documentation xml:lang="ru">Конец периода.</xs:documentation>
				<xs:documentation xml:lang="en">End Period.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:union memberTypes="xs:date xs:gYearMonth">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="Unknown">
								<xs:annotation>
									<xs:documentation xml:lang="ru">Конец периода точно не определён.</xs:documentation>
									<xs:documentation xml:lang="ru">End Period is unknown but exists.</xs:documentation>
								</xs:annotation>
							</xs:enumeration>
						</xs:restriction>
					</xs:simpleType>
				</xs:union>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:complexType name="LabelType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute ref="xml:lang" use="required">
					<xs:annotation>
						<xs:documentation xml:lang="ru">Язык названия.</xs:documentation>
						<xs:documentation xml:lang="en">Label language.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="Type">
					<xs:annotation>
						<xs:documentation xml:lang="ru">Тип названия.</xs:documentation>
						<xs:documentation xml:lang="en">Label type.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="Org">
								<xs:annotation>
									<xs:documentation xml:lang="ru">Оригинальное название.</xs:documentation>
									<xs:documentation xml:lang="en">Original label.</xs:documentation>
								</xs:annotation>
							</xs:enumeration>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute name="Prefix" type="xs:string">
					<xs:annotation>
						<xs:documentation xml:lang="ru">Префикс у названия.</xs:documentation>
						<xs:documentation xml:lang="en">Label prefix.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="Suffix" type="xs:string">
					<xs:annotation>
						<xs:documentation xml:lang="ru">Суффикс у названия.</xs:documentation>
						<xs:documentation xml:lang="en">Label suffix.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="Source" type="xs:string">
					<xs:annotation>
						<xs:documentation xml:lang="ru">Предназначение названия.</xs:documentation>
						<xs:documentation xml:lang="en">Label source.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="WebType">
		<xs:attribute name="URL" type="xs:anyURI" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="ru">URL адрес ресурса.</xs:documentation>
				<xs:documentation xml:lang="en">URL resource address.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="CodeType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="Source" type="xs:IDREF" use="required">
					<xs:annotation>
						<xs:documentation xml:lang="ru">Организация стандарта либо кода.</xs:documentation>
						<xs:documentation xml:lang="en">Code standart organization.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="Encoding" default="Text">
					<xs:annotation>
						<xs:documentation xml:lang="ru">Кодировка представления кода.</xs:documentation>
						<xs:documentation xml:lang="en">Code encoding.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="Text">
								<xs:annotation>
									<xs:documentation xml:lang="ru">Текст.</xs:documentation>
									<xs:documentation xml:lang="en">Text.</xs:documentation>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="Hex">
								<xs:annotation>
									<xs:documentation xml:lang="ru">Число в шестнадцатиричном виде.</xs:documentation>
									<xs:documentation xml:lang="en">Hexadecimal number.</xs:documentation>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="Number">
								<xs:annotation>
									<xs:documentation xml:lang="ru">Число.</xs:documentation>
									<xs:documentation xml:lang="en">Number.</xs:documentation>
								</xs:annotation>
							</xs:enumeration>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="CreditsList">
		<xs:annotation>
			<xs:documentation xml:lang="ru">Исполнительный состав.</xs:documentation>
			<xs:documentation xml:lang="en">Credits.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Participant" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="ru">Участник.</xs:documentation>
					<xs:documentation xml:lang="en">Participant.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Label" type="m:LabelType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
					<xs:attribute name="Role" use="required">
						<xs:annotation>
							<xs:documentation xml:lang="ru">Роль участника.</xs:documentation>
							<xs:documentation xml:lang="en">Participant role.</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Camera">
									<xs:annotation>
										<xs:documentation xml:lang="ru">Оператор.</xs:documentation>
										<xs:documentation xml:lang="en">Cameraman.</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="CoProducer">
									<xs:annotation>
										<xs:documentation xml:lang="ru">Сопродюсер.</xs:documentation>
										<xs:documentation xml:lang="en">Co-Producer.</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="Composer">
									<xs:annotation>
										<xs:documentation xml:lang="ru">Композитор.</xs:documentation>
										<xs:documentation xml:lang="en">Composer.</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="Director">
									<xs:annotation>
										<xs:documentation xml:lang="ru">Режиссёр.</xs:documentation>
										<xs:documentation xml:lang="en">Director.</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="ExecProducer">
									<xs:annotation>
										<xs:documentation xml:lang="ru">Исполнительный продюсер.</xs:documentation>
										<xs:documentation xml:lang="en">Executive Producer.</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="Producer">
									<xs:annotation>
										<xs:documentation xml:lang="ru">Продюсер.</xs:documentation>
										<xs:documentation xml:lang="en">Producer.</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="BookWriter">
									<xs:annotation>
										<xs:documentation xml:lang="ru">Автор книги.</xs:documentation>
										<xs:documentation xml:lang="en">Book author.</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="Writer">
									<xs:annotation>
										<xs:documentation xml:lang="ru">Автор сценария.</xs:documentation>
										<xs:documentation xml:lang="en">Writer.</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Name" type="xs:IDREF" use="required">
						<xs:annotation>
							<xs:documentation xml:lang="ru">Ссылка на участника (во внешнем списке).</xs:documentation>
							<xs:documentation xml:lang="en">Participant link (in the external list).</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CastList">
		<xs:annotation>
			<xs:documentation xml:lang="ru">Состав.</xs:documentation>
			<xs:documentation xml:lang="en">Cast.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Participant" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="ru">Участник.</xs:documentation>
					<xs:documentation xml:lang="en">Participant.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Label" type="m:LabelType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
					<xs:attribute name="Role" use="required">
						<xs:annotation>
							<xs:documentation xml:lang="ru">Исполняемая роль.</xs:documentation>
							<xs:documentation xml:lang="en">Participant role.</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Actor">
									<xs:annotation>
										<xs:documentation xml:lang="ru">Актёр.</xs:documentation>
										<xs:documentation xml:lang="en">Actor.</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="Dub">
									<xs:annotation>
										<xs:documentation xml:lang="ru">Дублёр (озвучка).</xs:documentation>
										<xs:documentation xml:lang="en">Dub.</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="Self">
									<xs:annotation>
										<xs:documentation xml:lang="ru">Сам себя.</xs:documentation>
										<xs:documentation xml:lang="en">Himself ot Hereself.</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Name" type="xs:IDREF" use="required">
						<xs:annotation>
							<xs:documentation xml:lang="ru">Ссылка на участника (во внешнем списке).</xs:documentation>
							<xs:documentation xml:lang="en">Participant link (in the external list).</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="Type" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="ru">Тип состава.</xs:documentation>
				<xs:documentation xml:lang="en">Cast type.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Main">
						<xs:annotation>
							<xs:documentation xml:lang="ru">Первый состав.</xs:documentation>
							<xs:documentation xml:lang="en">First cast.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Rest">
						<xs:annotation>
							<xs:documentation xml:lang="ru">Остальной состав.</xs:documentation>
							<xs:documentation xml:lang="en">Rest cast.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ReleaseType">
		<xs:sequence>
			<xs:element name="Label" type="m:LabelType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="ru">Название премьеры.</xs:documentation>
					<xs:documentation xml:lang="en">Release title.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="Date" type="m:DateType" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="ru">Дата выхода.</xs:documentation>
				<xs:documentation xml:lang="en">Release date.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Country" type="xs:IDREF">
			<xs:annotation>
				<xs:documentation xml:lang="ru">Страна проведения премьеры (ссылка на внешний список).</xs:documentation>
				<xs:documentation xml:lang="en">Release country (link to the external list).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="TitleType">
		<xs:sequence>
			<xs:element name="Label" type="m:LabelType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="ru">Название раздела (если отличается от названия фильма).</xs:documentation>
					<xs:documentation xml:lang="en">Another title label.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="Num" type="xs:unsignedInt" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="ru">Номер раздела, серии или цикла.</xs:documentation>
				<xs:documentation xml:lang="en">Title, episode or sequence number.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Name" type="xs:IDREF">
			<xs:annotation>
				<xs:documentation xml:lang="ru">Ссылка на фильм или цикл (во внешнем списке).</xs:documentation>
				<xs:documentation xml:lang="en">Movie or sequence link (in the external list).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ID" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="AwardType">
		<xs:attribute name="Nomination" type="xs:IDREF" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="ru">Ссылка на номинацию награды (во внешнем списке).</xs:documentation>
				<xs:documentation xml:lang="en">Award nomination link (in the external list).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Year" type="xs:gYear" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="ru">Год.</xs:documentation>
				<xs:documentation xml:lang="en">Year.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Participant" type="xs:IDREFS">
			<xs:annotation>
				<xs:documentation xml:lang="ru">Участник номинации.</xs:documentation>
				<xs:documentation xml:lang="en">Nomination participant.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Result" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="ru">Результат награды.</xs:documentation>
				<xs:documentation xml:lang="en">Award result.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Won">
						<xs:annotation>
							<xs:documentation xml:lang="ru">Награждён.</xs:documentation>
							<xs:documentation xml:lang="en">Won.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Nominated">
						<xs:annotation>
							<xs:documentation xml:lang="ru">Номинирован.</xs:documentation>
							<xs:documentation xml:lang="en">Nominated.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="Movie">
		<xs:annotation>
			<xs:documentation xml:lang="ru">Фильм.</xs:documentation>
			<xs:documentation xml:lang="en">Movie.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Web" type="m:WebType" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation xml:lang="ru">Сайт о фильме.</xs:documentation>
						<xs:documentation xml:lang="en">Movie Web resource.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Release" type="m:ReleaseType" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation xml:lang="ru">Дата выхода фильма по странам.</xs:documentation>
						<xs:documentation xml:lang="en">Movie release date by countries.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:choice maxOccurs="unbounded">
					<xs:element name="Label" type="m:LabelType">
						<xs:annotation>
							<xs:documentation xml:lang="ru">Название фильма в разных странах (AKA).</xs:documentation>
							<xs:documentation xml:lang="en">Movie label in countries, Also Known As (AKA).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Song">
						<xs:annotation>
							<xs:documentation xml:lang="ru">Основополагающая песня.</xs:documentation>
							<xs:documentation xml:lang="en">Origin song.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Perfomance" minOccurs="0" maxOccurs="unbounded">
									<xs:annotation>
										<xs:documentation xml:lang="ru">Данное исполнение песни.</xs:documentation>
										<xs:documentation xml:lang="en">Song current perfomance.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:attribute name="Type" use="required">
											<xs:annotation>
												<xs:documentation xml:lang="ru">Тип исполнения.</xs:documentation>
												<xs:documentation xml:lang="en">Perfomance type.</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="Live">
														<xs:annotation>
															<xs:documentation xml:lang="ru">Концертное исполнение.</xs:documentation>
															<xs:documentation xml:lang="en">Live perfomance.</xs:documentation>
														</xs:annotation>
													</xs:enumeration>
													<xs:enumeration value="Remix">
														<xs:annotation>
															<xs:documentation xml:lang="ru">Ремикс.</xs:documentation>
															<xs:documentation xml:lang="en">Remix.</xs:documentation>
														</xs:annotation>
													</xs:enumeration>
													<xs:enumeration value="Edit">
														<xs:annotation>
															<xs:documentation xml:lang="ru">Обработка.</xs:documentation>
															<xs:documentation xml:lang="en">Edit version.</xs:documentation>
														</xs:annotation>
													</xs:enumeration>
													<xs:enumeration value="Soundtrack">
														<xs:annotation>
															<xs:documentation xml:lang="ru">Песня к указанному фильму.</xs:documentation>
															<xs:documentation xml:lang="en">Soundtrack to the movie.</xs:documentation>
														</xs:annotation>
													</xs:enumeration>
												</xs:restriction>
											</xs:simpleType>
										</xs:attribute>
										<xs:attribute name="Participant" type="xs:IDREFS">
											<xs:annotation>
												<xs:documentation xml:lang="ru">Участник песни.</xs:documentation>
												<xs:documentation xml:lang="en">Song participant.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
							<xs:attribute name="Name" type="xs:IDREF" use="required">
								<xs:annotation>
									<xs:documentation xml:lang="ru">Ссылка на песню (во внешнем списке).</xs:documentation>
									<xs:documentation xml:lang="en">Song link (in the external list).</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:complexType>
					</xs:element>
				</xs:choice>
				<xs:element name="Credits" type="m:CreditsList" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="ru">Исполнительный состав.</xs:documentation>
						<xs:documentation xml:lang="en">Credits.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Cast" type="m:CastList" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation xml:lang="ru">Состав.</xs:documentation>
						<xs:documentation xml:lang="en">Cast.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Award" type="m:AwardType" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation xml:lang="ru">Награды фильма.</xs:documentation>
						<xs:documentation xml:lang="en">Movie awards.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Location" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation xml:lang="ru">Место съёмок фильма.</xs:documentation>
						<xs:documentation xml:lang="en">Filming location.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="Region" type="xs:IDREFS">
							<xs:annotation>
								<xs:documentation xml:lang="ru">Район или штат.</xs:documentation>
								<xs:documentation xml:lang="en">Region or state.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="Country" type="xs:IDREF" use="required">
							<xs:annotation>
								<xs:documentation xml:lang="ru">Страна.</xs:documentation>
								<xs:documentation xml:lang="en">Country.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="City" type="xs:IDREF">
							<xs:annotation>
								<xs:documentation xml:lang="ru">Город.</xs:documentation>
								<xs:documentation xml:lang="en">City.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="Participant" type="xs:IDREFS">
							<xs:annotation>
								<xs:documentation xml:lang="ru">Участники места.</xs:documentation>
								<xs:documentation xml:lang="en">Location participant.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:any namespace="##other" processContents="strict" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation xml:lang="ru">Дополнительная информация по фильму.</xs:documentation>
						<xs:documentation xml:lang="en">Movie additional information.</xs:documentation>
					</xs:annotation>
				</xs:any>
			</xs:sequence>
			<xs:attribute name="Name" type="xs:ID" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="ru">Идентификатор фильма.</xs:documentation>
					<xs:documentation xml:lang="en">Movie identifier.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute ref="xml:lang" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="ru">Оригинальный язык фильма.</xs:documentation>
					<xs:documentation xml:lang="en">Movie original language.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Year" type="xs:gYear">
				<xs:annotation>
					<xs:documentation xml:lang="ru">Год выхода.</xs:documentation>
					<xs:documentation xml:lang="en">Release year.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Production" type="xs:IDREFS">
				<xs:annotation>
					<xs:documentation xml:lang="ru">Кинокомпания (ссылка во внешний список).</xs:documentation>
					<xs:documentation xml:lang="en">Production Companies (link to the external list).</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Genre" type="xs:IDREF">
				<xs:annotation>
					<xs:documentation xml:lang="ru">Жанр.</xs:documentation>
					<xs:documentation xml:lang="en">Genre.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Kind" type="xs:IDREF">
				<xs:annotation>
					<xs:documentation xml:lang="ru">Вид фильма.</xs:documentation>
					<xs:documentation xml:lang="en">Movie kind.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Duration" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation xml:lang="ru">Длительность в минутах.</xs:documentation>
					<xs:documentation xml:lang="en">Runtime in minutes.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Country" type="xs:IDREFS">
				<xs:annotation>
					<xs:documentation xml:lang="ru">Страна (ссылка во внешний список).</xs:documentation>
					<xs:documentation xml:lang="en">Country (link to the external list).</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Certification" type="xs:IDREFS">
				<xs:annotation>
					<xs:documentation xml:lang="ru">Сертификаты фильма.</xs:documentation>
					<xs:documentation xml:lang="en">Movie certifications.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Order" type="xs:string">
				<xs:annotation>
					<xs:documentation xml:lang="ru">Порядок выхода.</xs:documentation>
					<xs:documentation xml:lang="en">Release order.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Sort" type="xs:string">
				<xs:annotation>
					<xs:documentation xml:lang="ru">Порядок сортировки.</xs:documentation>
					<xs:documentation xml:lang="en">Sort order.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Collection">
		<xs:annotation>
			<xs:documentation xml:lang="ru">Сборник фильмов.</xs:documentation>
			<xs:documentation xml:lang="en">Movies collection.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Label" type="m:LabelType" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation xml:lang="ru">Название сборника в разных странах (AKA).</xs:documentation>
						<xs:documentation xml:lang="en">Collection label in countries, Also Known As (AKA).</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Web" type="m:WebType" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation xml:lang="ru">Сайт о сборнике.</xs:documentation>
						<xs:documentation xml:lang="en">Collection Web resource.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Release" type="m:ReleaseType" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation xml:lang="ru">Дата выхода сборника по странам.</xs:documentation>
						<xs:documentation xml:lang="en">Collection release date by countries.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Code" type="m:CodeType" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation xml:lang="ru">Код сборника.</xs:documentation>
						<xs:documentation xml:lang="en">Collection code.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Credits" type="m:CreditsList" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation xml:lang="ru">Исполнительный состав (для сборника в целом).</xs:documentation>
						<xs:documentation xml:lang="en">Collecton credits.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Media">
					<xs:annotation>
						<xs:documentation xml:lang="ru">Диск.</xs:documentation>
						<xs:documentation xml:lang="en">Media Disk.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Title" type="m:TitleType" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="ru">Раздел.</xs:documentation>
									<xs:documentation xml:lang="en">Title.</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="Type" type="xs:string">
							<xs:annotation>
								<xs:documentation xml:lang="ru">Название либо вид диска.</xs:documentation>
								<xs:documentation xml:lang="en">Disk kind or name.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:any namespace="##other" processContents="strict" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation xml:lang="ru">Дополнительная информация по сборнику.</xs:documentation>
						<xs:documentation xml:lang="en">Collection additional information.</xs:documentation>
					</xs:annotation>
				</xs:any>
			</xs:sequence>
			<xs:attribute name="Name" type="xs:ID" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="ru">Идентификатор сборника.</xs:documentation>
					<xs:documentation xml:lang="en">Collection identifier.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Type">
				<xs:annotation>
					<xs:documentation xml:lang="ru">Тип сборника.</xs:documentation>
					<xs:documentation xml:lang="en">Collection type.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:list>
						<xs:simpleType>
							<xs:restriction base="xs:NMTOKEN">
								<xs:enumeration value="Official">
									<xs:annotation>
										<xs:documentation xml:lang="ru">Официальный сборник.</xs:documentation>
										<xs:documentation xml:lang="en">Official collection.</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
							</xs:restriction>
						</xs:simpleType>
					</xs:list>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute ref="xml:lang" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="ru">Оригинальный язык фильмов.</xs:documentation>
					<xs:documentation xml:lang="en">Movies original language.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Year" type="xs:gYear">
				<xs:annotation>
					<xs:documentation xml:lang="ru">Год выхода официального сборника.</xs:documentation>
					<xs:documentation xml:lang="en">Official collection release year.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Production" type="xs:IDREFS">
				<xs:annotation>
					<xs:documentation xml:lang="ru">Кинокомпания (ссылка во внешний список).</xs:documentation>
					<xs:documentation xml:lang="en">Production Companies (link to the external list).</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Country" type="xs:IDREFS">
				<xs:annotation>
					<xs:documentation xml:lang="ru">Страна (ссылка во внешний список).</xs:documentation>
					<xs:documentation xml:lang="en">Country (link to the external list).</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Certification" type="xs:IDREFS">
				<xs:annotation>
					<xs:documentation xml:lang="ru">Сертификат фильма по умолчанию.</xs:documentation>
					<xs:documentation xml:lang="en">Default movie certification.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Order" type="xs:string">
				<xs:annotation>
					<xs:documentation xml:lang="ru">Порядок выхода.</xs:documentation>
					<xs:documentation xml:lang="en">Release order.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Sort" type="xs:string">
				<xs:annotation>
					<xs:documentation xml:lang="ru">Порядок сортировки.</xs:documentation>
					<xs:documentation xml:lang="en">Sort order.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Sequence">
		<xs:annotation>
			<xs:documentation xml:lang="ru">Цикл.</xs:documentation>
			<xs:documentation xml:lang="en">Sequence.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Label" type="m:LabelType" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation xml:lang="ru">Название цикла в разных странах (AKA).</xs:documentation>
						<xs:documentation xml:lang="en">Sequence label in countries, Also Known As (AKA).</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Web" type="m:WebType" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation xml:lang="ru">Сайт о цикле.</xs:documentation>
						<xs:documentation xml:lang="en">Sequence Web resource.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Release" type="m:ReleaseType" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation xml:lang="ru">Дата выхода цикла по странам.</xs:documentation>
						<xs:documentation xml:lang="en">Sequence release date by countries.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Code" type="m:CodeType" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation xml:lang="ru">Код цикла.</xs:documentation>
						<xs:documentation xml:lang="en">Sequence code.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Credits" type="m:CreditsList" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation xml:lang="ru">Исполнительный состав (для сборника в целом).</xs:documentation>
						<xs:documentation xml:lang="en">Collecton credits.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Award" type="m:AwardType" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation xml:lang="ru">Награды цикла.</xs:documentation>
						<xs:documentation xml:lang="en">Movie sequence awards.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Title" type="m:TitleType" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation xml:lang="ru">Серия или сезон.</xs:documentation>
						<xs:documentation xml:lang="en">Episode or season.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="Name" type="xs:ID" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="ru">Идентификатор цикла.</xs:documentation>
					<xs:documentation xml:lang="en">Sequence identifier.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Consist" type="xs:IDREF">
				<xs:annotation>
					<xs:documentation xml:lang="ru">Состав цикла.</xs:documentation>
					<xs:documentation xml:lang="en">Sequence content.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Year" type="xs:gYear">
				<xs:annotation>
					<xs:documentation xml:lang="ru">Год начала выхода цикла.</xs:documentation>
					<xs:documentation xml:lang="en">sequence release year.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Production" type="xs:IDREFS">
				<xs:annotation>
					<xs:documentation xml:lang="ru">Кинокомпания (ссылка во внешний список).</xs:documentation>
					<xs:documentation xml:lang="en">Production Companies (link to the external list).</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Country" type="xs:IDREFS">
				<xs:annotation>
					<xs:documentation xml:lang="ru">Страна (ссылка во внешний список).</xs:documentation>
					<xs:documentation xml:lang="en">Country (link to the external list).</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Certification" type="xs:IDREFS">
				<xs:annotation>
					<xs:documentation xml:lang="ru">Сертификат фильма по умолчанию.</xs:documentation>
					<xs:documentation xml:lang="en">Default movie certification.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Order" type="xs:string">
				<xs:annotation>
					<xs:documentation xml:lang="ru">Порядок выхода.</xs:documentation>
					<xs:documentation xml:lang="en">Release order.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Sort" type="xs:string">
				<xs:annotation>
					<xs:documentation xml:lang="ru">Порядок сортировки.</xs:documentation>
					<xs:documentation xml:lang="en">Sort order.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="MovieList">
		<xs:annotation>
			<xs:documentation xml:lang="ru">Список фильмов и всего, что к ним относится.</xs:documentation>
			<xs:documentation xml:lang="en">Movie stuff list.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="m:Collection">
					<xs:annotation>
						<xs:documentation xml:lang="ru">Сборник фильмов.</xs:documentation>
						<xs:documentation xml:lang="en">Movie collection.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="m:Movie">
					<xs:annotation>
						<xs:documentation xml:lang="ru">Фильм.</xs:documentation>
						<xs:documentation xml:lang="en">Movie.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="GenreList">
					<xs:annotation>
						<xs:documentation xml:lang="ru">Список жанров.</xs:documentation>
						<xs:documentation xml:lang="en">Genre list.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Genre" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="ru">Жанр.</xs:documentation>
									<xs:documentation xml:lang="en">Genre.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Label" type="m:LabelType" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation xml:lang="ru">Название жанра.</xs:documentation>
												<xs:documentation xml:lang="en">Genre label.</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="Name" type="xs:ID" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ru">Идентификатор жанра.</xs:documentation>
											<xs:documentation xml:lang="en">Genre identifier.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="Origin" type="xs:IDREFS">
										<xs:annotation>
											<xs:documentation xml:lang="ru">Исходный жанр.</xs:documentation>
											<xs:documentation xml:lang="en">Origin genre.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="KindList">
					<xs:annotation>
						<xs:documentation xml:lang="ru">Список видов фильмов.</xs:documentation>
						<xs:documentation xml:lang="en">Movie kind list.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Kind" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="ru">Вид фильма.</xs:documentation>
									<xs:documentation xml:lang="en">Movie kind.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Label" type="m:LabelType" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation xml:lang="ru">Название вида кино.</xs:documentation>
												<xs:documentation xml:lang="en">movie kind label.</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="Name" type="xs:ID" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ru">Идентификатор вида.</xs:documentation>
											<xs:documentation xml:lang="en">Kind identifier.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="Origin" type="xs:IDREFS">
										<xs:annotation>
											<xs:documentation xml:lang="ru">Исходный вид кино.</xs:documentation>
											<xs:documentation xml:lang="en">Origin movie kind.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="CertificationList">
					<xs:annotation>
						<xs:documentation xml:lang="ru">Список сертификатов.</xs:documentation>
						<xs:documentation xml:lang="en">Certificate list.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Certification" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="ru">Сертификат фильма.</xs:documentation>
									<xs:documentation xml:lang="en">Movie certification.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Label" type="m:LabelType" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation xml:lang="ru">Название сертификата.</xs:documentation>
												<xs:documentation xml:lang="en">Certificate label.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Web" type="m:WebType" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation xml:lang="ru">Сайт о сертификате.</xs:documentation>
												<xs:documentation xml:lang="en">Certificate Web resource.</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="Name" type="xs:ID" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ru">Идентификатор сертификата.</xs:documentation>
											<xs:documentation xml:lang="en">Certificate identifier.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="Country" type="xs:IDREF" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ru">Страна сертификата.</xs:documentation>
											<xs:documentation xml:lang="en">Certification country.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="Type" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ru">Тип сертификата.</xs:documentation>
											<xs:documentation xml:lang="en">Certification type.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Movie">
													<xs:annotation>
														<xs:documentation xml:lang="ru">Сертификат фильма.</xs:documentation>
														<xs:documentation xml:lang="en">Movie certification.</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="TV">
													<xs:annotation>
														<xs:documentation xml:lang="ru">Сертификат ТВ передачи.</xs:documentation>
														<xs:documentation xml:lang="en">TV-Show certification.</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="Rating" type="xs:unsignedInt" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ru">Сравнимый рейтинг сертификата.</xs:documentation>
											<xs:documentation xml:lang="en">Comparable certification rating.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attributeGroup ref="m:Period"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="AwardList">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Award" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="ru">Награды фильма.</xs:documentation>
									<xs:documentation xml:lang="en">Movie awards.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Label" type="m:LabelType" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation xml:lang="ru">Название награды.</xs:documentation>
												<xs:documentation xml:lang="en">Award name.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Nomination" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation xml:lang="ru">Номинация.</xs:documentation>
												<xs:documentation xml:lang="en">Nomination.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Label" type="m:LabelType" minOccurs="0" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation xml:lang="ru">Название номинации.</xs:documentation>
															<xs:documentation xml:lang="en">Nomination name.</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="Name" type="xs:ID" use="required">
													<xs:annotation>
														<xs:documentation xml:lang="ru">Идентификатор номинации.</xs:documentation>
														<xs:documentation xml:lang="en">Award nomination identifier.</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="Name" type="xs:ID" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ru">Идентификатор награды.</xs:documentation>
											<xs:documentation xml:lang="en">Award identifier.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="Country" type="xs:IDREF">
										<xs:annotation>
											<xs:documentation xml:lang="ru">Страна награды (ссылка во внешний список).</xs:documentation>
											<xs:documentation xml:lang="en">Award country (link to the external list).</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:any namespace="##other" processContents="strict">
					<xs:annotation>
						<xs:documentation xml:lang="ru">Дополнительная информация и внешние списки.</xs:documentation>
						<xs:documentation xml:lang="en">Additional information and external lists.</xs:documentation>
					</xs:annotation>
				</xs:any>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="Record">
		<xs:annotation>
			<xs:documentation xml:lang="ru">Запись.</xs:documentation>
			<xs:documentation xml:lang="en">Record.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="Name" type="xs:IDREF">
				<xs:annotation>
					<xs:documentation xml:lang="ru">Название содержимого записи.</xs:documentation>
					<xs:documentation xml:lang="en">Record content name.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Media" type="xs:string">
				<xs:annotation>
					<xs:documentation xml:lang="ru">Либо номер либо название диска.</xs:documentation>
					<xs:documentation xml:lang="en">Disk number or name in the content.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Title" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation xml:lang="ru">Номер раздела.</xs:documentation>
					<xs:documentation xml:lang="en">Title number in the content.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Quality">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="HD"/>
						<xs:enumeration value="DVD"/>
						<xs:enumeration value="DVDRip"/>
						<xs:enumeration value="VHSRip"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Translation">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="None"/>
						<xs:enumeration value="SingleLQ"/>
						<xs:enumeration value="Single"/>
						<xs:enumeration value="Amateur"/>
						<xs:enumeration value="Simultaneous"/>
						<xs:enumeration value="Dub"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Source" type="xs:anyURI"/>
			<xs:attribute name="Sound">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Mono"/>
						<xs:enumeration value="Stereo"/>
						<xs:enumeration value="DolbyStereo"/>
						<xs:enumeration value="DolbySurround"/>
						<xs:enumeration value="DolbyProLogic"/>
						<xs:enumeration value="Simultaneous"/>
						<xs:enumeration value="DolbyDigital"/>
						<xs:enumeration value="DTS"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
