Schemas/Sharer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:p="urn:schemas-xml-frafv:sharer" xmlns:e="urn:schemas-xml-frafv:proxy" xmlns:xml="http://www.w3.org/XML/1998/namespace" targetNamespace="urn:schemas-xml-frafv:sharer" elementFormDefault="qualified">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/xml.xsd"/>
	<xs:import namespace="urn:schemas-xml-frafv:proxy" schemaLocation="Proxy.xsd"/>
	<xs:attributeGroup name="Name">
		<xs:attribute name="Name" type="xs:ID" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="ru">Название</xs:documentation>
				<xs:documentation xml:lang="en">Name</xs:documentation>
				<xs:documentation source="Help" xml:lang="ru">Данный атрибут используется практически везде, где нужна уникальная идентификация объекта</xs:documentation>
				<xs:appinfo source="Label">
					<xs:documentation xml:lang="ru">Название</xs:documentation>
					<xs:documentation xml:lang="ru" source="GenCase">Названия</xs:documentation>
					<xs:documentation xml:lang="ru" source="DatCase">Названию</xs:documentation>
					<xs:documentation xml:lang="ru" source="InstrCase">Названием</xs:documentation>
					<xs:documentation xml:lang="ru" source="PrepCase">Названии</xs:documentation>
					<xs:documentation xml:lang="en">Name</xs:documentation>
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="Period">
		<xs:attribute name="StartPeriod">
			<xs:annotation>
				<xs:documentation xml:lang="ru">Начало периода</xs:documentation>
				<xs:documentation xml:lang="en">Start Period</xs:documentation>
				<xs:documentation source="Help" xml:lang="ru">Для человека обозначает первое знакомство с ним. Для местоположения - первое появление в данном месте. Для телефона и предметов - дата преобретения. Для фирмы - дата образования.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:union memberTypes="xs:date xs:gYearMonth xs:gYear"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="EndPeriod">
			<xs:annotation>
				<xs:documentation xml:lang="ru">Конец периода</xs:documentation>
				<xs:documentation xml:lang="en">End Period</xs:documentation>
				<xs:documentation source="Help" xml:lang="ru">Для человека обозначает дату последней встречи. Для местоположения - последнее появление в данном месте. Для телефона и предметов - дата отказа или нарушения работоспособности. Для фирмы - дата распада.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:union memberTypes="xs:date xs:gYearMonth">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="Unknown">
								<xs:annotation>
									<xs:documentation xml:lang="ru">Конец периода точно неопределён</xs:documentation>
								</xs:annotation>
							</xs:enumeration>
						</xs:restriction>
					</xs:simpleType>
				</xs:union>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="Prof">
		<xs:attribute name="Prof">
			<xs:annotation>
				<xs:documentation xml:lang="ru">Профессия</xs:documentation>
				<xs:documentation xml:lang="en">Profession</xs:documentation>
				<xs:documentation source="Help" xml:lang="ru">Профессия объекта (чаще всего это человек). Возможно несколько профессий, если это относится непосредственно к объекту или широкий круг обязаностей на занимаемой должности. В последнем случае лучше указывать одну профессию.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:list>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="HR">
								<xs:annotation>
									<xs:documentation xml:lang="ru">Менеджер по персоналу</xs:documentation>
									<xs:documentation xml:lang="en">Human Resource</xs:documentation>
									<xs:documentation source="Help" xml:lang="ru">Работник отдела кадров</xs:documentation>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="Prog">
								<xs:annotation>
									<xs:documentation xml:lang="ru">Программист</xs:documentation>
									<xs:documentation xml:lang="en">Programmer</xs:documentation>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="SA">
								<xs:annotation>
									<xs:documentation xml:lang="ru">Системный администратор</xs:documentation>
									<xs:documentation xml:lang="en">System Administrator</xs:documentation>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="Analyst">
								<xs:annotation>
									<xs:documentation xml:lang="ru">Аналитик</xs:documentation>
									<xs:documentation xml:lang="en">Analyst</xs:documentation>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="PM">
								<xs:annotation>
									<xs:documentation xml:lang="ru">Менеджер проектов</xs:documentation>
									<xs:documentation xml:lang="en">Project Manager</xs:documentation>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="Arch">
								<xs:annotation>
									<xs:documentation xml:lang="ru">Архитектор</xs:documentation>
									<xs:documentation xml:lang="en">Architect</xs:documentation>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="TechWriter">
								<xs:annotation>
									<xs:documentation xml:lang="ru">Технический писатель</xs:documentation>
									<xs:documentation xml:lang="en">Tech Writer</xs:documentation>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="WebDesign">
								<xs:annotation>
									<xs:documentation xml:lang="ru">Веб-дизайнер</xs:documentation>
									<xs:documentation xml:lang="en">Web-designer</xs:documentation>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="Econom">
								<xs:annotation>
									<xs:documentation xml:lang="ru">Экономист</xs:documentation>
									<xs:documentation xml:lang="en">Economist</xs:documentation>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="Manager">
								<xs:annotation>
									<xs:documentation xml:lang="ru">Менеджер</xs:documentation>
									<xs:documentation xml:lang="en">Manager</xs:documentation>
									<xs:documentation source="Help" xml:lang="ru">Более продвинутый продовец. Используется только лишь в том случае, если нельзя точно установить род и круг деятельности.</xs:documentation>
								</xs:annotation>
							</xs:enumeration>
						</xs:restriction>
					</xs:simpleType>
				</xs:list>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:complexType name="LabelType">
		<xs:annotation>
			<xs:documentation xml:lang="ru">Название.</xs:documentation>
			<xs:appinfo source="Label">
				<xs:documentation xml:lang="ru">Название</xs:documentation>
				<xs:documentation xml:lang="ru" source="GenCase">Названия</xs:documentation>
				<xs:documentation xml:lang="ru" source="DatCase">Названию</xs:documentation>
				<xs:documentation xml:lang="ru" source="InstrCase">Названием</xs:documentation>
				<xs:documentation xml:lang="ru" source="PrepCase">Названии</xs:documentation>
				<xs:documentation xml:lang="en">Label</xs:documentation>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute ref="xml:lang" use="required">
					<xs:annotation>
						<xs:documentation xml:lang="ru">Язык названия.</xs:documentation>
						<xs:documentation xml:lang="en">Label language.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="Type">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="Reg">
								<xs:annotation>
									<xs:documentation source="Help" xml:lang="ru">Юридическое название.</xs:documentation>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="Org">
								<xs:annotation>
									<xs:documentation source="Help" xml:lang="ru">Оригинальное название.</xs:documentation>
								</xs:annotation>
							</xs:enumeration>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute name="Prefix" type="xs:string">
					<xs:annotation>
						<xs:documentation xml:lang="ru">Префикс у названия.</xs:documentation>
						<xs:documentation xml:lang="en">Label prefix.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="Suffix" type="xs:string">
					<xs:annotation>
						<xs:documentation xml:lang="ru">Суффикс у названия.</xs:documentation>
						<xs:documentation xml:lang="en">Label suffix.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="NoteType">
		<xs:annotation>
			<xs:documentation xml:lang="ru">Заметка.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute ref="xml:lang" use="required">
					<xs:annotation>
						<xs:documentation xml:lang="ru">Язык заметки.</xs:documentation>
						<xs:documentation xml:lang="en">Note language.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="LocationType">
		<xs:annotation>
			<xs:documentation xml:lang="ru">Местонахождение.</xs:documentation>
			<xs:documentation xml:lang="en">Location.</xs:documentation>
			<xs:documentation source="Help" xml:lang="ru">Данный элемент понимается в широком смысле. Это как конкретное местоположение объекта в определённый период времени/жизни, так и уточнение вышеописанного.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Label" type="p:LabelType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="ru">Показывать</xs:documentation>
					<xs:documentation xml:lang="en">Show label</xs:documentation>
					<xs:documentation source="Help" xml:lang="ru">Название местонахождения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EMail" type="p:EMailType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Address" type="p:AddressType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Phone" type="p:PhoneType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:any namespace="##other" processContents="strict" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="Type" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="ru">Тип местоположения.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Home">
						<xs:annotation>
							<xs:documentation xml:lang="ru">Дом.</xs:documentation>
							<xs:documentation xml:lang="en">Home.</xs:documentation>
							<xs:documentation source="Help" xml:lang="ru">Домашний адрес постоянного местопроживания.</xs:documentation>
							<xs:appinfo source="Label">
								<xs:documentation xml:lang="ru">Дом</xs:documentation>
								<xs:documentation xml:lang="ru" source="Abbr">дом.</xs:documentation>
								<xs:documentation xml:lang="en">Home</xs:documentation>
							</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="ParentHome">
						<xs:annotation>
							<xs:documentation xml:lang="ru">Родительский дом.</xs:documentation>
							<xs:documentation xml:lang="en">Parent Home.</xs:documentation>
							<xs:documentation source="Help" xml:lang="ru">Родительский домашний адрес</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Work">
						<xs:annotation>
							<xs:documentation xml:lang="ru">Работа.</xs:documentation>
							<xs:documentation xml:lang="en">Work.</xs:documentation>
							<xs:documentation source="Help" xml:lang="ru">Рабочий адрес и способы связи.</xs:documentation>
							<xs:appinfo source="Label">
								<xs:documentation xml:lang="ru">Работа</xs:documentation>
								<xs:documentation xml:lang="ru" source="Abbr">раб.</xs:documentation>
								<xs:documentation xml:lang="en">Work</xs:documentation>
							</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Rent">
						<xs:annotation>
							<xs:documentation xml:lang="ru">Аренда.</xs:documentation>
							<xs:documentation xml:lang="en">Rent.</xs:documentation>
							<xs:documentation source="Help" xml:lang="ru">Адрес фактического проживания на арендуемой площади.</xs:documentation>
							<xs:appinfo source="Label">
								<xs:documentation xml:lang="ru">Аренда</xs:documentation>
								<xs:documentation xml:lang="ru" source="Abbr">дом.</xs:documentation>
								<xs:documentation xml:lang="en">Rent</xs:documentation>
							</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Reg">
						<xs:annotation>
							<xs:documentation xml:lang="ru">Регистрация.</xs:documentation>
							<xs:documentation xml:lang="en">Registration.</xs:documentation>
							<xs:documentation source="Help" xml:lang="ru">Адрес регистрации.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Study">
						<xs:annotation>
							<xs:documentation xml:lang="ru">Учёба.</xs:documentation>
							<xs:documentation xml:lang="en">Study.</xs:documentation>
							<xs:documentation source="Help" xml:lang="ru">Учебное заведение.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="TimeZone">
			<xs:annotation>
				<xs:documentation xml:lang="ru">Часовой пояс местоположения.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="UTC-12 IDLW">
						<xs:annotation>
							<xs:documentation xml:lang="en">Dateline Standard Time</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="UTC-11">
						<xs:annotation>
							<xs:documentation xml:lang="en">UTC-11</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="UTC-11 Samoa">
						<xs:annotation>
							<xs:documentation xml:lang="en">Samoa Standard Time</xs:documentation>
							<xs:appinfo source="DST">
								<xs:documentation xml:lang="en">Last Saturday of September at 23:59:59 – First Friday of January at 0:00</xs:documentation>
							</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="UTC-10">
						<xs:annotation>
							<xs:documentation xml:lang="en">Hawaiian Standard Time</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="UTC-9:30 MART">
						<xs:annotation>
							<xs:documentation xml:lang="en">Marquesas Time</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="UTC-9 AKST">
						<xs:annotation>
							<xs:documentation xml:lang="en">Alaskan Standard Time</xs:documentation>
							<xs:appinfo source="DST">
								<xs:documentation xml:lang="en">First Sunday of April at 2:00 – Last Sunday of October at 2:00</xs:documentation>
							</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="UTC-8 PST">
						<xs:annotation>
							<xs:documentation xml:lang="en">Pacific Standard Time, Pacific Standard Time (Mexico)</xs:documentation>
							<xs:appinfo source="DST">
								<xs:documentation xml:lang="en">First Sunday of April at 2:00 – Last Sunday of October at 2:00</xs:documentation>
							</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="UTC-7">
						<xs:annotation>
							<xs:documentation xml:lang="en">US Mountain Standard Time</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="UTC-7 MST">
						<xs:annotation>
							<xs:documentation xml:lang="en">Mountain Standard Time, Mountain Standard Time (Mexico)</xs:documentation>
							<xs:appinfo source="DST">
								<xs:documentation xml:lang="en">First Sunday of April at 2:00 – Last Sunday of October at 2:00</xs:documentation>
							</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="UTC-6">
						<xs:annotation>
							<xs:documentation xml:lang="en">Canada Central Standard Time, Central America Standard Time</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="UTC-6 CST">
						<xs:annotation>
							<xs:documentation xml:lang="en">Central Standard Time, Central Standard Time (Mexico)</xs:documentation>
							<xs:appinfo source="DST">
								<xs:documentation xml:lang="en">First Sunday of April at 2:00 – Last Sunday of October at 2:00</xs:documentation>
							</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="UTC-5">
						<xs:annotation>
							<xs:documentation xml:lang="en">SA Pacific Standard Time, US Eastern Standard Time</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="UTC-5 EST">
						<xs:annotation>
							<xs:documentation xml:lang="en">Eastern Standard Time</xs:documentation>
							<xs:appinfo source="DST">
								<xs:documentation xml:lang="en">First Sunday of April at 2:00 – Last Sunday of October at 2:00</xs:documentation>
							</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="UTC-4:30 VET">
						<xs:annotation>
							<xs:documentation xml:lang="en">Venezuela Standard Time</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="UTC-4">
						<xs:annotation>
							<xs:documentation xml:lang="en">SA Western Standard Time</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="UTC-4 AST">
						<xs:annotation>
							<xs:documentation xml:lang="en">Atlantic Standard Time</xs:documentation>
							<xs:appinfo source="DST">
								<xs:documentation xml:lang="en">First Sunday of April at 2:00 – Last Sunday of October at 2:00</xs:documentation>
							</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="UTC-4 Manaus">
						<xs:annotation>
							<xs:documentation xml:lang="en">Central Brazilian Standard Time</xs:documentation>
							<xs:appinfo source="DST">
								<xs:documentation xml:lang="en">Third Saturday of October at 23:59:59 – Second Saturday of February at 23:59:59</xs:documentation>
							</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="UTC-4 PST">
						<xs:annotation>
							<xs:documentation xml:lang="en">Pacific SA Standard Time</xs:documentation>
							<xs:appinfo source="DST">
								<xs:documentation xml:lang="en">Second Saturday of October at 23:59:59 – Last Saturday of March at 23:59:59</xs:documentation>
							</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="UTC-4 PYT">
						<xs:annotation>
							<xs:documentation xml:lang="en">Paraguay Standard Time</xs:documentation>
							<xs:appinfo source="DST">
								<xs:documentation xml:lang="en">Third Saturday of October at 23:59:59 – Second Saturday of March at 23:59:59</xs:documentation>
							</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="UTC-3:30 NST">
						<xs:annotation>
							<xs:documentation xml:lang="en">Newfoundland Standard Time</xs:documentation>
							<xs:appinfo source="DST">
								<xs:documentation xml:lang="en">Second Sunday of March at 0:01 – First Sunday of November at 0:01</xs:documentation>
							</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="UTC-3">
						<xs:annotation>
							<xs:documentation xml:lang="en">SA Eastern Standard Time</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="UTC-3 ART">
						<xs:annotation>
							<xs:documentation xml:lang="en">Argentina Standard Time</xs:documentation>
							<xs:appinfo source="DST">
								<xs:documentation xml:lang="en">First Thursday of January at 0:00 – Second Saturday of March at 23:59:59</xs:documentation>
							</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="UTC-3 BRT">
						<xs:annotation>
							<xs:documentation xml:lang="en">E. South America Standard Time</xs:documentation>
							<xs:appinfo source="DST">
								<xs:documentation xml:lang="en">Third Saturday of October at 23:59:59 – Second Saturday of February at 23:59:59</xs:documentation>
							</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="UTC-3 GST">
						<xs:annotation>
							<xs:documentation xml:lang="en">Greenland Standard Time</xs:documentation>
							<xs:appinfo source="DST">
								<xs:documentation xml:lang="en">Last Saturday of March at 22:00 – Fourth Saturday of October at 23:00</xs:documentation>
							</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="UTC-3 UYT">
						<xs:annotation>
							<xs:documentation xml:lang="en">Montevideo Standard Time</xs:documentation>
							<xs:appinfo source="DST">
								<xs:documentation xml:lang="en">First Sunday of October at 2:00 – Second Sunday of March at 2:00</xs:documentation>
							</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="UTC-2">
						<xs:annotation>
							<xs:documentation xml:lang="en">UTC-02</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="UTC-2 GST">
						<xs:annotation>
							<xs:documentation xml:lang="en">Mid-Atlantic Standard Time</xs:documentation>
							<xs:appinfo source="DST">
								<xs:documentation xml:lang="en">Last Sunday of March at 2:00 – Last Sunday of September at 2:00</xs:documentation>
							</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="UTC-1">
						<xs:annotation>
							<xs:documentation xml:lang="en">Cape Verde Standard Time</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="UTC-1 AZOT">
						<xs:annotation>
							<xs:documentation xml:lang="en">Azores Standard Time</xs:documentation>
							<xs:appinfo source="DST">
								<xs:documentation xml:lang="en">Last Sunday of March at 2:00 – Last Sunday of October at 3:00</xs:documentation>
							</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="UTC">
						<xs:annotation>
							<xs:documentation xml:lang="en">Coordinated Universal Time</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="UTC GMT">
						<xs:annotation>
							<xs:documentation xml:lang="en">GMT Standard Time</xs:documentation>
							<xs:appinfo source="DST">
								<xs:documentation xml:lang="en">Last Sunday of March at 1:00 – Last Sunday of October at 2:00</xs:documentation>
							</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="UTC GT">
						<xs:annotation>
							<xs:documentation xml:lang="en">Greenwich Standard Time</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="UTC Morocco">
						<xs:annotation>
							<xs:documentation xml:lang="en">Morocco Standard Time</xs:documentation>
							<xs:appinfo source="DST">
								<xs:documentation xml:lang="en">Last Sunday of May at 23:59:59 – Third Thursday of August at 23:59:59</xs:documentation>
							</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="UTC+1">
						<xs:annotation>
							<xs:documentation xml:lang="en">W. Central Africa Standard Time</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="UTC+1 CET">
						<xs:annotation>
							<xs:documentation xml:lang="en">Central Europe Standard Time, Central European Standard Time, Romance Standard Time, W. Europe Standard Time</xs:documentation>
							<xs:appinfo source="DST">
								<xs:documentation xml:lang="en">Last Sunday of March at 2:00 – Last Sunday of October at 3:00</xs:documentation>
							</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="UTC+2">
						<xs:annotation>
							<xs:documentation xml:lang="en">South Africa Standard Time</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="UTC+2 EET">
						<xs:annotation>
							<xs:documentation xml:lang="en">FLE Standard Time, GTB Standard Time</xs:documentation>
							<xs:appinfo source="DST">
								<xs:documentation xml:lang="en">Last Sunday of March at 3:00 – Last Sunday of October at 4:00</xs:documentation>
							</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="UTC+2 EET Asia">
						<xs:annotation>
							<xs:documentation xml:lang="en">Middle East Standard Time</xs:documentation>
							<xs:appinfo source="DST">
								<xs:documentation xml:lang="en">Last Sunday of March at 0:00 – Last Sunday of October at 0:00</xs:documentation>
							</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="UTC+2 Egypt">
						<xs:annotation>
							<xs:documentation xml:lang="en">Egypt Standard Time</xs:documentation>
							<xs:appinfo source="DST">
								<xs:documentation xml:lang="en">Last Thursday of April at 23:59:59 – Last Thursday of August at 23:59:59</xs:documentation>
							</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="UTC+2 IST">
						<xs:annotation>
							<xs:documentation xml:lang="en">Jerusalem Standard Time</xs:documentation>
							<xs:appinfo source="DST">
								<xs:documentation xml:lang="en">Last Friday of March at 2:00 – First Sunday of October at 2:00</xs:documentation>
							</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="UTC+2 Jordan">
						<xs:annotation>
							<xs:documentation xml:lang="en">Jordan Standard Time</xs:documentation>
							<xs:appinfo source="DST">
								<xs:documentation xml:lang="en">Last Thursday of March at 0:00 – Last Friday of September at 1:00</xs:documentation>
							</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="UTC+2 USZ1">
						<xs:annotation>
							<xs:documentation xml:lang="en">E. Europe Standard Time</xs:documentation>
							<xs:appinfo source="DST">
								<xs:documentation xml:lang="en">Last Sunday of March at 2:00 – Last Sunday of October at 3:00</xs:documentation>
							</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="UTC+2 WAT">
						<xs:annotation>
							<xs:documentation xml:lang="en">Namibia Standard Time</xs:documentation>
							<xs:appinfo source="DST">
								<xs:documentation xml:lang="en">First Sunday of April at 2:00 – First Sunday of September at 2:00</xs:documentation>
							</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="UTC+3">
						<xs:annotation>
							<xs:documentation xml:lang="en">Arab Standard Time, Arabic Standard Time, E. Africa Standard Time</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="UTC+3 MSK">
						<xs:annotation>
							<xs:documentation xml:lang="en">Russian Standard Time</xs:documentation>
							<xs:appinfo source="DST">
								<xs:documentation xml:lang="en">Last Sunday of March at 2:00 – Last Sunday of October at 3:00</xs:documentation>
							</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="UTC+3:30">
						<xs:annotation>
							<xs:documentation xml:lang="en">Iran Standard Time</xs:documentation>
							<xs:appinfo source="DST">
								<xs:documentation xml:lang="en">Third Thursday of March at 23:59:59 – Third Saturday of September at 23:59:59</xs:documentation>
							</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="UTC+4">
						<xs:annotation>
							<xs:documentation xml:lang="en">Arabian Standard Time, Georgian Standard Time</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="UTC+4 AMT">
						<xs:annotation>
							<xs:documentation xml:lang="en">Caucasus Standard Time</xs:documentation>
							<xs:appinfo source="DST">
								<xs:documentation xml:lang="en">Last Sunday of March at 2:00 – Last Sunday of October at 3:00</xs:documentation>
							</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="UTC+4 AZT">
						<xs:annotation>
							<xs:documentation xml:lang="en">Azerbaijan Standard Time</xs:documentation>
							<xs:appinfo source="DST">
								<xs:documentation xml:lang="en">Last Sunday of March at 4:00 – Last Sunday of October at 5:00</xs:documentation>
							</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="UTC+4 MUT">
						<xs:annotation>
							<xs:documentation xml:lang="en">Mauritius Standard Time</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="UTC+4:30 AFT">
						<xs:annotation>
							<xs:documentation xml:lang="en">Afghanistan Standard Time</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="UTC+5">
						<xs:annotation>
							<xs:documentation xml:lang="en">West Asia Standard Time</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="UTC+5 PKT">
						<xs:annotation>
							<xs:documentation xml:lang="en">Pakistan Standard Time</xs:documentation>
							<xs:appinfo source="DST">
								<xs:documentation xml:lang="en">Last Saturday of May at 23:59:59 – Last Friday of October at 23:59:59</xs:documentation>
							</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="UTC+5 YEKT">
						<xs:annotation>
							<xs:documentation xml:lang="en">Ekaterinburg Standard Time</xs:documentation>
							<xs:appinfo source="DST">
								<xs:documentation xml:lang="en">Last Sunday of March at 2:00 – Last Sunday of October at 3:00</xs:documentation>
							</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="UTC+5:30 IST">
						<xs:annotation>
							<xs:documentation xml:lang="en">India Standard Time, Sri Lanka Standard Time</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="UTC+5:45 NPT">
						<xs:annotation>
							<xs:documentation xml:lang="en">Nepal Standard Time</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="UTC+6">
						<xs:annotation>
							<xs:documentation xml:lang="en">Central Asia Standard Time</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="UTC+6 BDT">
						<xs:annotation>
							<xs:documentation xml:lang="en">Bangladesh Standard Time</xs:documentation>
							<xs:appinfo source="DST">
								<xs:documentation xml:lang="en">Third Friday of June at 23:00 – First Thursday of January at 0:00</xs:documentation>
							</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="UTC+6 USZ5">
						<xs:annotation>
							<xs:documentation xml:lang="en">N. Central Asia Standard Time</xs:documentation>
							<xs:appinfo source="DST">
								<xs:documentation xml:lang="en">Last Sunday of March at 2:00 – Last Sunday of October at 3:00</xs:documentation>
							</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="UTC+6:30 MMT">
						<xs:annotation>
							<xs:documentation xml:lang="en">Myanmar Standard Time</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="UTC+7">
						<xs:annotation>
							<xs:documentation xml:lang="en">SE Asia Standard Time</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="UTC+7 USZ6">
						<xs:annotation>
							<xs:documentation xml:lang="en">North Asia Standard Time</xs:documentation>
							<xs:appinfo source="DST">
								<xs:documentation xml:lang="en">Last Sunday of March at 2:00 – Last Sunday of October at 3:00</xs:documentation>
							</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="UTC+8">
						<xs:annotation>
							<xs:documentation xml:lang="en">China Standard Time, Malay Peninsula Standard Time, Taipei Standard Time, Ulaanbaatar Standard Time</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="UTC+8 AWST">
						<xs:annotation>
							<xs:documentation xml:lang="en">W. Australia Standard Time</xs:documentation>
							<xs:appinfo source="DST">
								<xs:documentation xml:lang="en">Last Sunday of October at 2:00 – Last Sunday of March at 3:00</xs:documentation>
							</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="UTC+8 USZ7">
						<xs:annotation>
							<xs:documentation xml:lang="en">North Asia East Standard Time</xs:documentation>
							<xs:appinfo source="DST">
								<xs:documentation xml:lang="en">Last Sunday of March at 2:00 – Last Sunday of October at 3:00</xs:documentation>
							</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="UTC+8:45 CWT">
						<xs:annotation>
							<xs:documentation xml:lang="en">Central West Time (Australia)</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="UTC+9">
						<xs:annotation>
							<xs:documentation xml:lang="en">Korea Standard Time, Tokyo Standard Time</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="UTC+9 USZ8">
						<xs:annotation>
							<xs:documentation xml:lang="en">Yakutsk Standard Time</xs:documentation>
							<xs:appinfo source="DST">
								<xs:documentation xml:lang="en">Last Sunday of March at 2:00 – Last Sunday of October at 3:00</xs:documentation>
							</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="UTC+9:30">
						<xs:annotation>
							<xs:documentation xml:lang="en">AUS Central Standard Time</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="UTC+9:30 ACST">
						<xs:annotation>
							<xs:documentation xml:lang="en">Cen. Australia Standard Time</xs:documentation>
							<xs:appinfo source="DST">
								<xs:documentation xml:lang="en">Last Sunday of October at 2:00 – Last Sunday of March at 3:00</xs:documentation>
							</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="UTC+10">
						<xs:annotation>
							<xs:documentation xml:lang="en">E. Australia Standard Time, West Pacific Standard Time</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="UTC+10 AEST">
						<xs:annotation>
							<xs:documentation xml:lang="en">AUS Eastern Standard Time</xs:documentation>
							<xs:appinfo source="DST">
								<xs:documentation xml:lang="en">Last Sunday of October at 2:00 – Last Sunday of March at 3:00</xs:documentation>
							</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="UTC+10 Tasmania">
						<xs:annotation>
							<xs:documentation xml:lang="en">Tasmania Standard Time</xs:documentation>
							<xs:appinfo source="DST">
								<xs:documentation xml:lang="en">First Sunday of October at 2:00 – Last Sunday of March at 3:00</xs:documentation>
							</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="UTC+10 USZ9">
						<xs:annotation>
							<xs:documentation xml:lang="en">Vladivostok Standard Time</xs:documentation>
							<xs:appinfo source="DST">
								<xs:documentation xml:lang="en">Last Sunday of March at 2:00 – Last Sunday of October at 3:00</xs:documentation>
							</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="UTC+11">
						<xs:annotation>
							<xs:documentation xml:lang="en">Central Pacific Standard Time</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="UTC+11:30 NFT">
						<xs:annotation>
							<xs:documentation xml:lang="en">Norfolk Time (Australia)</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="UTC+12">
						<xs:annotation>
							<xs:documentation xml:lang="en">UTC+12</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="UTC+12 Fiji">
						<xs:annotation>
							<xs:documentation xml:lang="en">Fiji Standard Time</xs:documentation>
							<xs:appinfo source="DST">
								<xs:documentation xml:lang="en">Last Sunday of November at 2:00 – Last Sunday of April at 3:00</xs:documentation>
							</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="UTC+12 NZST">
						<xs:annotation>
							<xs:documentation xml:lang="en">New Zealand Standard Time</xs:documentation>
							<xs:appinfo source="DST">
								<xs:documentation xml:lang="en">First Sunday of October at 2:00 – Third Sunday of March at 3:00</xs:documentation>
							</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="UTC+12 UZ11">
						<xs:annotation>
							<xs:documentation xml:lang="en">Kamchatka Standard Time</xs:documentation>
							<xs:appinfo source="DST">
								<xs:documentation xml:lang="en">Last Sunday of March at 2:00 – Last Sunday of October at 3:00</xs:documentation>
							</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="UTC+13 TOT">
						<xs:annotation>
							<xs:documentation xml:lang="en">Tonga Standard Time</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attributeGroup ref="p:Period"/>
		<xs:attributeGroup ref="p:Prof"/>
		<xs:attribute name="Company" type="xs:IDREF"/>
	</xs:complexType>
	<xs:complexType name="AddressType">
		<xs:annotation>
			<xs:documentation xml:lang="ru">Адрес.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute ref="xml:lang" use="required">
					<xs:annotation>
						<xs:documentation xml:lang="ru">Язык написания адреса.</xs:documentation>
						<xs:documentation xml:lang="en">Address language.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="Country" type="xs:IDREF">
					<xs:annotation>
						<xs:documentation xml:lang="ru">Страна</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="PostIndex">
					<xs:annotation>
						<xs:documentation xml:lang="ru">Почтовый индекс.</xs:documentation>
						<xs:documentation xml:lang="en">Post Index.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="0"/>
							<xs:maxInclusive value="999999"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute name="Region" type="xs:IDREF">
					<xs:annotation>
						<xs:documentation xml:lang="ru">Район.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="City" type="xs:IDREF">
					<xs:annotation>
						<xs:documentation xml:lang="ru">Город.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="Street" type="xs:IDREF">
					<xs:annotation>
						<xs:documentation xml:lang="ru">Улица.</xs:documentation>
						<xs:documentation xml:lang="en">Street.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="House">
					<xs:annotation>
						<xs:documentation xml:lang="ru">Номер дома.</xs:documentation>
						<xs:documentation xml:lang="en">House number.</xs:documentation>
						<xs:appinfo source="Label">
							<xs:documentation xml:lang="ru">Дом</xs:documentation>
							<xs:documentation xml:lang="ru" source="Abbr">д.</xs:documentation>
							<xs:documentation xml:lang="en"/>
						</xs:appinfo>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="\d+.?(/\d+.?)?"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute name="FrameType" type="xs:IDREF">
					<xs:annotation>
						<xs:documentation xml:lang="ru">Тир корпуса.</xs:documentation>
						<xs:documentation xml:lang="en">Frame type.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="Frame" type="xs:string">
					<xs:annotation>
						<xs:documentation xml:lang="ru">Корпус.</xs:documentation>
						<xs:documentation xml:lang="en">Frame.</xs:documentation>
						<xs:appinfo source="Label">
							<xs:documentation xml:lang="ru">Корпус</xs:documentation>
							<xs:documentation xml:lang="ru" source="Abbr">к.</xs:documentation>
							<xs:documentation xml:lang="en">Frame</xs:documentation>
							<xs:documentation xml:lang="en" source="Abbr">frame</xs:documentation>
						</xs:appinfo>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="Porch" type="xs:string">
					<xs:annotation>
						<xs:documentation xml:lang="ru">Подъезд.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="PorchCode" type="xs:string">
					<xs:annotation>
						<xs:documentation xml:lang="ru">Домофон.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="Floor" type="xs:unsignedInt">
					<xs:annotation>
						<xs:documentation xml:lang="ru">Этаж.</xs:documentation>
						<xs:documentation xml:lang="en">Floor.</xs:documentation>
						<xs:appinfo source="Label">
							<xs:documentation xml:lang="ru">Этаж</xs:documentation>
							<xs:documentation xml:lang="ru" source="Abbr">эт.</xs:documentation>
							<xs:documentation xml:lang="en">Floor</xs:documentation>
							<xs:documentation xml:lang="en" source="Abbr">floor</xs:documentation>
						</xs:appinfo>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="ApartmentType" type="xs:IDREF">
					<xs:annotation>
						<xs:documentation xml:lang="ru">Тир квартиры.</xs:documentation>
						<xs:documentation xml:lang="en">Apartment type.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="Apartment" type="xs:string">
					<xs:annotation>
						<xs:documentation xml:lang="ru">Квартира.</xs:documentation>
						<xs:documentation xml:lang="en">Apartment number.</xs:documentation>
						<xs:appinfo source="Label">
							<xs:documentation xml:lang="ru">Квартира</xs:documentation>
							<xs:documentation xml:lang="ru" source="Abbr">кв.</xs:documentation>
							<xs:documentation xml:lang="en"/>
						</xs:appinfo>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="Metro" type="xs:IDREFS">
					<xs:annotation>
						<xs:documentation xml:lang="ru">Ближайшее метро.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PhoneType">
		<xs:annotation>
			<xs:documentation xml:lang="ru">Телефон.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="Type" default="Phone">
					<xs:annotation>
						<xs:documentation xml:lang="ru">Тип телефона.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:list>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Phone">
										<xs:annotation>
											<xs:documentation xml:lang="ru">Телефон.</xs:documentation>
											<xs:documentation xml:lang="en">Phone.</xs:documentation>
											<xs:appinfo source="Label">
												<xs:documentation xml:lang="ru">Телефон</xs:documentation>
												<xs:documentation xml:lang="ru" source="Abbr">тел.</xs:documentation>
												<xs:documentation xml:lang="en">Phone</xs:documentation>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="Fax">
										<xs:annotation>
											<xs:documentation xml:lang="ru">Факс.</xs:documentation>
											<xs:documentation xml:lang="en">Fax.</xs:documentation>
											<xs:appinfo source="Label">
												<xs:documentation xml:lang="ru">Факс</xs:documentation>
												<xs:documentation xml:lang="ru" source="Abbr">факс</xs:documentation>
												<xs:documentation xml:lang="en">Fax</xs:documentation>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="Modem">
										<xs:annotation>
											<xs:documentation xml:lang="ru">Модем.</xs:documentation>
											<xs:documentation xml:lang="en">Modem.</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="Mobile">
										<xs:annotation>
											<xs:documentation xml:lang="ru">Сотовый.</xs:documentation>
											<xs:documentation xml:lang="en">Mobile.</xs:documentation>
											<xs:appinfo source="Label">
												<xs:documentation xml:lang="ru">Сотовый</xs:documentation>
												<xs:documentation xml:lang="ru" source="Abbr">моб.</xs:documentation>
												<xs:documentation xml:lang="en">Mobile</xs:documentation>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="Private">
										<xs:annotation>
											<xs:documentation xml:lang="ru">Личный.</xs:documentation>
											<xs:documentation xml:lang="en">Private.</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
								</xs:restriction>
							</xs:simpleType>
						</xs:list>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute name="CountryCode">
					<xs:annotation>
						<xs:documentation xml:lang="ru">Код страны.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="\d+"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute name="Code">
					<xs:annotation>
						<xs:documentation xml:lang="ru">Код города.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="\d+"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute name="Number">
					<xs:annotation>
						<xs:documentation xml:lang="ru">Номер телефона.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="\d+"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute name="Ext">
					<xs:annotation>
						<xs:documentation xml:lang="ru">Внутренний номер или добавочный.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="\d+"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute name="Operator" type="xs:IDREF">
					<xs:annotation>
						<xs:documentation xml:lang="ru">Оператор связи.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attributeGroup ref="p:Period"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="EMailType">
		<xs:annotation>
			<xs:documentation xml:lang="ru">Электронная почта.</xs:documentation>
			<xs:documentation xml:lang="en">e-mail.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:anyURI">
				<xs:attribute name="URL" type="xs:anyURI"/>
				<xs:attributeGroup ref="p:Period"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="WebType">
		<xs:annotation>
			<xs:documentation xml:lang="ru">Страница в интернете.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="URL" type="xs:anyURI" use="required"/>
	</xs:complexType>
	<xs:complexType name="CodeType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="Source" type="xs:IDREF" use="required">
					<xs:annotation>
						<xs:documentation xml:lang="ru">Организация стандарта либо кода.</xs:documentation>
						<xs:documentation xml:lang="en">Code standart organization.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="Encoding" default="Text">
					<xs:annotation>
						<xs:documentation xml:lang="ru">Кодировка представления кода.</xs:documentation>
						<xs:documentation xml:lang="en">Code encoding.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="Text">
								<xs:annotation>
									<xs:documentation xml:lang="ru">Текст.</xs:documentation>
									<xs:documentation xml:lang="en">Text.</xs:documentation>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="Hex">
								<xs:annotation>
									<xs:documentation xml:lang="ru">Число в шестнадцатиричном виде.</xs:documentation>
									<xs:documentation xml:lang="en">Hexadecimal number.</xs:documentation>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="Number">
								<xs:annotation>
									<xs:documentation xml:lang="ru">Число.</xs:documentation>
									<xs:documentation xml:lang="en">Number.</xs:documentation>
								</xs:annotation>
							</xs:enumeration>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PhotoType">
		<xs:annotation>
			<xs:documentation xml:lang="ru">Фотография.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="URL" type="xs:anyURI" use="required"/>
	</xs:complexType>
	<xs:complexType name="MessengerType">
		<xs:annotation>
			<xs:documentation xml:lang="ru">Аккаунт на сервере мгновенных сообщений.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="Type" use="required">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="ICQ"/>
							<xs:enumeration value="Skype"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute name="Account" type="xs:string"/>
				<xs:attribute name="Nickname" type="xs:string"/>
				<xs:attributeGroup ref="p:Period"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="DocumentType">
		<xs:annotation>
			<xs:documentation xml:lang="ru">Официальный документ удостоверяющий личность.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Agency" minOccurs="0">
				<xs:complexType>
					<xs:annotation>
						<xs:documentation xml:lang="ru">Организация выдавшая документ.</xs:documentation>
					</xs:annotation>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute ref="xml:lang" use="required"/>
							<xs:attribute name="Code" type="xs:string"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="Type" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="DrivingLicence"/>
					<xs:enumeration value="ForeignPassport"/>
					<xs:enumeration value="Passport"/>
					<xs:enumeration value="VISA"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Series" type="xs:string"/>
		<xs:attribute name="Number" type="xs:string"/>
		<xs:attribute name="Country" type="xs:IDREF"/>
		<xs:attributeGroup ref="p:Period"/>
	</xs:complexType>
	<xs:group name="ParticipantName">
		<xs:annotation>
			<xs:documentation source="Help" xml:lang="ru">Имена участника на разных языках.</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="FirstName">
				<xs:annotation>
					<xs:documentation xml:lang="ru">Имя.</xs:documentation>
					<xs:documentation xml:lang="en">First Name.</xs:documentation>
					<xs:appinfo source="Label">
						<xs:documentation xml:lang="ru">Имя</xs:documentation>
						<xs:documentation xml:lang="ru" source="Abbr">И.</xs:documentation>
						<xs:documentation xml:lang="en">First Name</xs:documentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute ref="xml:lang" use="required">
								<xs:annotation>
									<xs:documentation xml:lang="ru">Язык написания.</xs:documentation>
									<xs:documentation xml:lang="en">Name language.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="Type">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="Doc">
											<xs:annotation>
												<xs:documentation source="Help" xml:lang="ru">Имя по документам.</xs:documentation>
											</xs:annotation>
										</xs:enumeration>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="LastName">
				<xs:annotation>
					<xs:documentation xml:lang="ru">Фамилия.</xs:documentation>
					<xs:documentation xml:lang="en">Last Name.</xs:documentation>
					<xs:appinfo source="Label">
						<xs:documentation xml:lang="ru">Фамилия</xs:documentation>
						<xs:documentation xml:lang="ru" source="Abbr">Ф.</xs:documentation>
						<xs:documentation xml:lang="en">Last Name</xs:documentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute ref="xml:lang" use="required">
								<xs:annotation>
									<xs:documentation xml:lang="ru">Язык написания.</xs:documentation>
									<xs:documentation xml:lang="en">Name language.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="Type">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="Org">
											<xs:annotation>
												<xs:documentation source="Help" xml:lang="ru">Девичья фамилия либо фамилия при рождении, до изменения.</xs:documentation>
											</xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="Doc">
											<xs:annotation>
												<xs:documentation source="Help" xml:lang="ru">Фамилия по документам.</xs:documentation>
											</xs:annotation>
										</xs:enumeration>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="Prefix" type="xs:string"/>
							<xs:attribute name="Suffix" type="xs:string"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="MiddleName">
				<xs:annotation>
					<xs:documentation xml:lang="ru">Отчество или среднее имя.</xs:documentation>
					<xs:documentation xml:lang="en">Middle Name.</xs:documentation>
					<xs:appinfo source="Label">
						<xs:documentation xml:lang="ru">Отчество</xs:documentation>
						<xs:documentation xml:lang="ru" source="Abbr">О.</xs:documentation>
						<xs:documentation xml:lang="en">Middle Name</xs:documentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute ref="xml:lang" use="required">
								<xs:annotation>
									<xs:documentation xml:lang="ru">Язык написания.</xs:documentation>
									<xs:documentation xml:lang="en">Name language.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="Type">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="Abbr">
											<xs:annotation>
												<xs:documentation source="Help" xml:lang="ru">Сокращение.</xs:documentation>
											</xs:annotation>
										</xs:enumeration>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="Nickname">
				<xs:annotation>
					<xs:documentation xml:lang="ru">Прозвище.</xs:documentation>
					<xs:documentation xml:lang="en">Nickname.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute ref="xml:lang" use="required">
								<xs:annotation>
									<xs:documentation xml:lang="ru">Язык написания.</xs:documentation>
									<xs:documentation xml:lang="en">Name language.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:group>
	<xs:element name="CompanyList">
		<xs:annotation>
			<xs:documentation xml:lang="ru">Список компаний.</xs:documentation>
			<xs:documentation xml:lang="en">Company list.</xs:documentation>
			<xs:documentation source="Help" xml:lang="ru">Корневой элемент.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Label" type="p:LabelType" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation source="Help" xml:lang="ru">Название списка на разных языках.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="p:Company" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation source="Help" xml:lang="ru">Информация об организациях, на которых ссылаются местоположения участников.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="e:ExportList" maxOccurs="unbounded"/>
				<xs:element ref="p:ExternalList" maxOccurs="unbounded"/>
				<xs:any namespace="##other" processContents="strict" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ParticipantList">
		<xs:annotation>
			<xs:documentation xml:lang="ru">Список участников.</xs:documentation>
			<xs:documentation xml:lang="en">Participant list.</xs:documentation>
			<xs:documentation source="Help" xml:lang="ru">Корневой элемент.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Label" type="p:LabelType" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation source="Help" xml:lang="ru">Название списка на разных языках.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Location" type="p:LocationType" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation source="Help" xml:lang="ru">Определения местоположений, такие как, страна, города, общие места.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="p:Company" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation source="Help" xml:lang="ru">Информация об организациях, на которых ссылаются местоположения участников.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="p:Participant" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation source="Help" xml:lang="ru">Контактная информация о людях.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="e:ExportList" maxOccurs="unbounded"/>
				<xs:element ref="p:ExternalList" maxOccurs="unbounded"/>
				<xs:any namespace="##other" processContents="strict" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attributeGroup ref="p:Prof">
				<xs:annotation>
					<xs:documentation source="Help" xml:lang="ru">Объединяет людей одной профессии.</xs:documentation>
				</xs:annotation>
			</xs:attributeGroup>
		</xs:complexType>
	</xs:element>
	<xs:element name="Company">
		<xs:annotation>
			<xs:documentation xml:lang="ru">Организация.</xs:documentation>
			<xs:documentation xml:lang="en">Company.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Label" type="p:LabelType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="Web" type="p:WebType" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation source="Help" xml:lang="ru">Web страница организации.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Code" type="p:CodeType" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation source="Help" xml:lang="ru">Код организации.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Location" type="p:LocationType" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation source="Help" xml:lang="ru">Местоположение организации.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Phone" type="p:PhoneType" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation source="Help" xml:lang="ru">Средства связи, не привязанные к местоположению участника.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="p:Company" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attributeGroup ref="p:Name">
				<xs:annotation>
					<xs:documentation source="Help" xml:lang="ru">Используется для идентификации участника как внутри данного списка, так и для внешнего использования.</xs:documentation>
				</xs:annotation>
			</xs:attributeGroup>
		</xs:complexType>
	</xs:element>
	<xs:element name="Participant">
		<xs:annotation>
			<xs:documentation xml:lang="ru">Участник.</xs:documentation>
			<xs:documentation xml:lang="en">Participant.</xs:documentation>
			<xs:appinfo source="Label">
				<xs:documentation xml:lang="ru" source="F">Участница</xs:documentation>
				<xs:documentation xml:lang="ru">Участник</xs:documentation>
				<xs:documentation xml:lang="en">Participant</xs:documentation>
				<xs:documentation xml:lang="ru" source="GenCase">Участника</xs:documentation>
				<xs:documentation xml:lang="ru" source="GenCase F">Участницы</xs:documentation>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Label" type="p:LabelType" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation xml:lang="ru">Показывать.</xs:documentation>
						<xs:documentation xml:lang="en">Show label.</xs:documentation>
						<xs:documentation source="Help" xml:lang="ru">Название (имя) участника, которое должно отображаться. Одно для каждого языка.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:group ref="p:ParticipantName" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation source="Help" xml:lang="ru">Имена участника на разных языках.</xs:documentation>
					</xs:annotation>
				</xs:group>
				<xs:element name="Photo" type="p:PhotoType" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation source="Help" xml:lang="ru">Фотография.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Web" type="p:WebType" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation source="Help" xml:lang="ru">Личная web страница.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Code" type="p:CodeType" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation source="Help" xml:lang="ru">Код участника.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="EMail" type="p:EMailType" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation source="Help" xml:lang="ru">Личный почтовый ящик, который не привязан ни к какому местоположению.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Messenger" type="p:MessengerType" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation source="Help" xml:lang="ru">Номер в мессенджере (ICQ, Skype).</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Document" type="p:DocumentType" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation source="Help" xml:lang="ru">Документ.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Location" type="p:LocationType" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation source="Help" xml:lang="ru">Местоположения участника, которые определяют его место работы или место жительства.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Phone" type="p:PhoneType" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation source="Help" xml:lang="ru">Средства связи, не привязанные к местоположению участника.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Note" type="p:NoteType" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation xml:lang="ru">Заметки.</xs:documentation>
						<xs:documentation xml:lang="en">Notes.</xs:documentation>
						<xs:documentation source="Help" xml:lang="ru">Комментарий по участнику. Один для каждого языка.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:any namespace="##other" processContents="strict" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="Sex">
				<xs:annotation>
					<xs:documentation xml:lang="ru">Пол.</xs:documentation>
					<xs:documentation xml:lang="en">Sex.</xs:documentation>
					<xs:documentation source="Help" xml:lang="ru">Атрибут определяет пол участника. Для людей (Mind=Human или отсутствует) является обязательным.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Female">
							<xs:annotation>
								<xs:documentation xml:lang="ru">Женский.</xs:documentation>
								<xs:documentation xml:lang="en">Female.</xs:documentation>
								<xs:appinfo source="Label">
									<xs:documentation xml:lang="ru">жен.</xs:documentation>
									<xs:documentation xml:lang="ru" source="Org">Женский</xs:documentation>
									<xs:documentation xml:lang="ru" source="Abbr">Ж</xs:documentation>
									<xs:documentation xml:lang="en">Female</xs:documentation>
									<xs:documentation xml:lang="en" source="Abbr">F</xs:documentation>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="Male">
							<xs:annotation>
								<xs:documentation xml:lang="ru">Мужской.</xs:documentation>
								<xs:documentation xml:lang="en">Male.</xs:documentation>
								<xs:appinfo source="Label">
									<xs:documentation xml:lang="ru">муж.</xs:documentation>
									<xs:documentation xml:lang="ru" source="Org">Мужской</xs:documentation>
									<xs:documentation xml:lang="ru" source="Abbr">М</xs:documentation>
									<xs:documentation xml:lang="en">Male</xs:documentation>
									<xs:documentation xml:lang="en" source="Abbr">M</xs:documentation>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attributeGroup ref="p:Name">
				<xs:annotation>
					<xs:documentation source="Help" xml:lang="ru">Используется для идентификации участника как внутри данного списка, так и для внешнего использования.</xs:documentation>
				</xs:annotation>
			</xs:attributeGroup>
			<xs:attribute name="Birthday">
				<xs:annotation>
					<xs:documentation source="Help" xml:lang="ru">Дата рождения в формате XML (дата, либо дата с годом, либо только год).</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:union memberTypes="xs:date xs:gMonthDay xs:gYear"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="ExternalList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="e:Prefix" minOccurs="0" maxOccurs="unbounded"/>
				<xs:choice>
					<xs:element name="Language" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation xml:lang="ru">Язык.</xs:documentation>
							<xs:documentation xml:lang="en">Language.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Label" type="p:LabelType" maxOccurs="unbounded">
									<xs:annotation>
										<xs:documentation xml:lang="ru">Название языка.</xs:documentation>
										<xs:documentation xml:lang="en">Language name.</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
							<xs:attributeGroup ref="e:Link">
								<xs:annotation>
									<xs:documentation xml:lang="ru">Идентификатор языка.</xs:documentation>
									<xs:documentation xml:lang="en">Language identifier.</xs:documentation>
								</xs:annotation>
							</xs:attributeGroup>
						</xs:complexType>
					</xs:element>
					<xs:element name="Company" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation xml:lang="ru">Компания</xs:documentation>
							<xs:documentation xml:lang="en">Company</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Label" type="p:LabelType" maxOccurs="unbounded"/>
							</xs:sequence>
							<xs:attributeGroup ref="e:Link">
								<xs:annotation>
									<xs:documentation xml:lang="ru">Идентификатор компании.</xs:documentation>
									<xs:documentation xml:lang="en">Company identifier.</xs:documentation>
								</xs:annotation>
							</xs:attributeGroup>
							<xs:attribute name="Sort" type="xs:string">
								<xs:annotation>
									<xs:documentation xml:lang="ru">Порядок сортировки.</xs:documentation>
									<xs:documentation xml:lang="en">Sort order.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:complexType>
					</xs:element>
					<xs:element name="Participant" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation xml:lang="ru">Участник.</xs:documentation>
							<xs:documentation xml:lang="en">Participant.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Label" type="p:LabelType" maxOccurs="unbounded"/>
							</xs:sequence>
							<xs:attribute name="Sort" type="xs:string">
								<xs:annotation>
									<xs:documentation xml:lang="ru">Порядок сортировки.</xs:documentation>
									<xs:documentation xml:lang="en">Sort order.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attributeGroup ref="e:Link">
								<xs:annotation>
									<xs:documentation xml:lang="ru">Идентификатор участника.</xs:documentation>
									<xs:documentation xml:lang="en">Participant identifier.</xs:documentation>
								</xs:annotation>
							</xs:attributeGroup>
						</xs:complexType>
					</xs:element>
					<xs:element name="Location" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation xml:lang="ru">Местоположение.</xs:documentation>
							<xs:documentation xml:lang="en">Location.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Label" type="p:LabelType" maxOccurs="unbounded">
									<xs:annotation>
										<xs:documentation xml:lang="ru">Название местоположения.</xs:documentation>
										<xs:documentation xml:lang="en">Location name.</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
							<xs:attributeGroup ref="e:Link">
								<xs:annotation>
									<xs:documentation xml:lang="ru">Идентификатор местоположения.</xs:documentation>
									<xs:documentation xml:lang="en">Location identifier.</xs:documentation>
								</xs:annotation>
							</xs:attributeGroup>
							<xs:attribute name="Type" use="required">
								<xs:annotation>
									<xs:documentation xml:lang="ru">Тип местоположения.</xs:documentation>
									<xs:documentation xml:lang="en">Location type.</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="Continent">
											<xs:annotation>
												<xs:documentation xml:lang="ru">Континент.</xs:documentation>
												<xs:documentation xml:lang="en">Continent.</xs:documentation>
											</xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="Country">
											<xs:annotation>
												<xs:documentation xml:lang="ru">Страна.</xs:documentation>
												<xs:documentation xml:lang="en">Country.</xs:documentation>
											</xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="Region">
											<xs:annotation>
												<xs:documentation xml:lang="ru">Административный район.</xs:documentation>
												<xs:documentation xml:lang="en">Administrative region.</xs:documentation>
											</xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="City">
											<xs:annotation>
												<xs:documentation xml:lang="ru">Населённый пункт.</xs:documentation>
												<xs:documentation xml:lang="en">City.</xs:documentation>
											</xs:annotation>
										</xs:enumeration>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="Sort" type="xs:string">
								<xs:annotation>
									<xs:documentation xml:lang="en">Sort order</xs:documentation>
									<xs:documentation xml:lang="ru">Порядок сортировки</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:complexType>
					</xs:element>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
