Schemas/Video.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2007 sp1 (http://www.altova.com)-->
<xs:schema xmlns="urn:multimedia-schemas-xml-frafv:video" xmlns:v="urn:multimedia-schemas-xml-frafv:video" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:multimedia-schemas-xml-frafv:video" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/xml.xsd"/>
	<xs:simpleType name="DurationHours">
		<xs:restriction base="xs:string">
			<xs:pattern value="[1-9]\d*:[0-5]\d:[0-5]\d"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DurationMinutes">
		<xs:restriction base="xs:string">
			<xs:pattern value="[1-9]\d*:[0-5]\d"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="VideoStream">
		<xs:annotation>
			<xs:documentation xml:lang="en">Video Stream</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="Width" type="xs:unsignedShort" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="en">Storage frame: width of the rectangle of pixels, as internally stored in compressed form</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Height" type="xs:unsignedShort" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="en">Storage frame: height of the rectangle of pixels, as internally stored in compressed form</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="FrameQuality" type="xs:decimal" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="en">"Frame Quality" in bits/pixel-frame</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="FrameCount" type="xs:unsignedInt" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="en">Frame Count - The total number of video frames to be presented</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="FPS" type="xs:decimal" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="en">Frames per second - number of complete video images displayed per second</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Codec" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="en">Video codec</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="XviD">
							<xs:annotation>
								<xs:documentation xml:lang="en">XviD ISO MPEG-4</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="DivX">
							<xs:annotation>
								<xs:documentation xml:lang="en">DivX (OpenDivX)</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="DivX3">
							<xs:annotation>
								<xs:documentation xml:lang="en">DivX 3</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Bitrate" type="xs:unsignedShort" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="en">Average bitrate of the video stream, in kbps</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="BVOP" default="No">
				<xs:annotation>
					<xs:documentation xml:lang="en">Indicates presence of "B-VOP's" (Bidirectionally Predictive: coded by describing differences from previous and "future" pictures)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Yes"/>
						<xs:enumeration value="No"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="NVOP" default="No">
				<xs:annotation>
					<xs:documentation xml:lang="en">Indicates presence of "N-VOP's" - VOP's with no actual content</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Yes"/>
						<xs:enumeration value="No"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="AudioStream">
		<xs:annotation>
			<xs:documentation xml:lang="en">Audio Stream</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute ref="xml:lang"/>
			<xs:attribute name="SampleRate" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="en">SampleRate</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:enumeration value="8000"/>
						<xs:enumeration value="11025"/>
						<xs:enumeration value="12000"/>
						<xs:enumeration value="16000"/>
						<xs:enumeration value="22050"/>
						<xs:enumeration value="24000"/>
						<xs:enumeration value="44100"/>
						<xs:enumeration value="48000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Codec" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="en">Codec used to encode the audio track</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="MPEG1Layer3">
							<xs:annotation>
								<xs:documentation xml:lang="en">MPEG-1 Layer3</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="AC3">
							<xs:annotation>
								<xs:documentation xml:lang="en">Dolby AC3</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ChannelCount" type="xs:byte" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="en">Audio channel count</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="BitrateType" default="CBR">
				<xs:annotation>
					<xs:documentation xml:lang="en">Audio encoding bitrate type</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="CBR">
							<xs:annotation>
								<xs:documentation xml:lang="en">Indicates audio is encoded using Constant Bit Rate</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="VBR">
							<xs:annotation>
								<xs:documentation xml:lang="en">Indicates audio is encoded using Variable Bit Rate</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Bitrate" type="xs:unsignedShort" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="en">Average bitrate of the audio stream, in kbps</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Video">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Duration" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation xml:lang="en">Duration of the video</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="Value" use="required">
							<xs:simpleType>
								<xs:union memberTypes="v:DurationHours v:DurationMinutes xs:unsignedInt"/>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="Unit" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Hour"/>
									<xs:enumeration value="Minute"/>
									<xs:enumeration value="Second"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="Container">
					<xs:annotation>
						<xs:documentation xml:lang="en">Container</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:choice maxOccurs="unbounded">
							<xs:element ref="v:VideoStream"/>
							<xs:element ref="v:AudioStream"/>
						</xs:choice>
						<xs:attribute name="Type" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="OpenDML"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="InterleaveTime" type="xs:unsignedInt" use="required"/>
						<xs:attribute name="InterleavePreload" type="xs:unsignedInt" use="required"/>
						<xs:attribute name="InterleaveAlign" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Split"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="Type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="AVI"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Duration" type="v:DurationHours" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
